@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap");
.text-light-grey {
  color: #e8e8e8;
}

.bg-light-grey {
  background-color: #e8e8e8;
}

.text-dark-grey {
  color: #606060;
}

.bg-dark-grey {
  background-color: #606060;
}

.text-mid-grey {
  color: #999AA2;
}

.bg-mid-grey {
  background-color: #999AA2;
}

.text-dark-bg {
  color: #323544;
}

.bg-dark-bg {
  background-color: #323544;
}

.text-bright-green {
  color: #2ecc71;
}

.bg-bright-green {
  background-color: #2ecc71;
}

.text-munsell-green {
  color: #00b67b;
}

.bg-munsell-green {
  background-color: #00b67b;
}

.text-crayola-blue {
  color: #166af4;
}

.bg-crayola-blue {
  background-color: #166af4;
}

.text-green-teal {
  color: #00b67b;
}

.bg-green-teal {
  background-color: #00b67b;
}

.text-bespoke-software {
  color: #67809f;
}

.bg-bespoke-software {
  background-color: #67809f;
}

.text-it-support {
  color: #4183d7;
}

.bg-it-support {
  background-color: #4183d7;
}

.text-marketing {
  color: #2ecc71;
}

.bg-marketing {
  background-color: #2ecc71;
}

.text-telecoms {
  color: #d64541;
}

.bg-telecoms {
  background-color: #d64541;
}

.text-web-design {
  color: #926fb1;
}

.bg-web-design {
  background-color: #926fb1;
}

.text-cyber-security {
  color: #f62459;
}

.bg-cyber-security {
  background-color: #f62459;
}

.text-dev-training {
  color: #ce4125;
}

.bg-dev-training {
  background-color: #ce4125;
}

body {
  font-family: Poppins, sans-serif;
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

html {
  font-size: 16px;
}

.all-content {
  height: 100%;
  width: 100vw;
  position: relative;
  background-color: white;
  transition: right 2s ease;
  right: 0;
}

.cookies-overlay, .content-overlay {
  opacity: 0;
  transition: opacity 3s ease;
}

.overlay-base, .fullpage-overlay, .content-overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: #262834;
}

.content-overlay {
  position: absolute;
}

.fullpage-overlay {
  position: fixed;
  transition: none;
}

header, main, section {
  background-color: white;
}

h1 {
  font-size: 3rem;
}
@media (min-width: 480px) {
  h1 {
    font-size: 4rem;
    line-height: 5rem;
  }
}

h2 {
  font-size: 2.7rem;
  letter-spacing: 3px;
  font-weight: 900;
}

h3 {
  font-size: 1.625rem;
}
@media (min-width: 480px) {
  h3 {
    font-size: 1.625rem;
    line-height: 2.5rem;
    letter-spacing: 2.5px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.card-icon-wrapper {
  max-height: 7rem;
  max-width: 7rem;
}

.card-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem;
  color: white;
  border-radius: 50%;
}

.cards-footer {
  font-size: 1.625rem;
  font-weight: 600;
  color: #333645;
  margin-top: 1.5rem;
}
.cards-footer a {
  display: block;
  text-align: center;
}
@media (min-width: 480px) {
  .cards-footer {
    display: none;
  }
}

@media (min-width: 1200px) {
  .header-wrapper.content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.header-group {
  background-color: white;
}

.header {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1.5rem 4rem;
  grid-template-rows: 3.2rem 4rem;
  padding: 1.4rem 1rem 0.25rem 0.5rem;
  column-gap: 1.25rem;
  row-gap: 1.4rem;
  grid-template-areas: "logo phone menu" "search search search ";
}
@media (min-width: 768px) {
  .header {
    grid-template-columns: 1fr 14.875rem 4.75rem;
    grid-template-rows: 3.4rem;
    grid-template-areas: "logo search menu";
    padding: 1.75rem 1.5rem 1.75rem 2rem;
  }
}
@media (min-width: 992px) {
  .header {
    padding: 2rem 7% 2rem 10%;
    grid-template-columns: 6fr repeat(4, auto);
    grid-template-areas: "logo support contact search menu";
  }
}
@media (min-width: 1200px) {
  .header {
    padding: 2rem 0 2rem 0;
    margin-left: -4rem;
  }
}

.logo {
  grid-area: logo;
  height: auto;
  margin-top: -0.5rem;
}
@media (min-width: 768px) {
  .logo {
    margin-top: -0.3rem;
    padding-right: 2.5rem;
  }
}
@media (min-width: 992px) {
  .logo {
    margin-top: -0.5rem;
  }
}
@media (min-width: 1200px) {
  .logo {
    margin-top: -0.45rem;
  }
}
.logo img {
  padding-top: 1rem;
  max-width: 8rem;
  height: auto;
}
@media (min-width: 350px) {
  .logo img {
    max-width: 15rem;
  }
}
@media (min-width: 480px) {
  .logo img {
    padding-top: 0;
    max-width: 20rem;
  }
}
@media (min-width: 768px) {
  .logo img {
    max-width: 20rem;
  }
}
@media (min-width: 992px) {
  .logo img {
    max-width: 23rem;
  }
}
@media (min-width: 1200px) {
  .logo img {
    max-width: 23rem;
  }
}

.support-btn {
  grid-area: support;
  align-self: start;
  display: none;
}
@media (min-width: 992px) {
  .support-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8.85rem;
    height: 3.5rem;
    font-size: 18px;
    letter-spacing: 0.4px;
    color: white;
    border-radius: 5px;
    background-color: #4183d7;
    letter-spacing: 0.8px;
  }
}

.contact-btn {
  grid-area: contact;
  align-self: start;
  display: none;
  background-color: #999AA2;
}
@media (min-width: 992px) {
  .contact-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8.85rem;
    height: 3.5rem;
    font-size: 18px;
    letter-spacing: 0.4px;
    color: white;
    border-radius: 5px;
  }
}

.phone-icon {
  grid-area: phone;
  padding-top: 1.1rem;
  color: #333645;
}
@media (min-width: 768px) {
  .phone-icon {
    display: none;
  }
}

.menu-icon {
  grid-area: menu;
  min-width: 4rem;
  min-height: 3.5rem;
  border-radius: 0.25rem;
  padding: 0.5rem;
}
@media (min-width: 768px) {
  .menu-icon {
    max-width: 4rem;
    max-height: 3.75rem;
  }
}

.search {
  grid-area: search;
  align-self: start;
  display: flex;
  height: 3rem;
  border: 2px solid #ccc;
  border-radius: 2px;
}
@media (min-width: 768px) {
  .search {
    height: 3.5rem;
    border: none;
  }
}
.search .search-term {
  flex: 1;
  border-radius: 2px 0 0 2px;
  padding: 15px;
  font-size: 0.95rem;
  font-stretch: 100%;
  color: #555;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (min-width: 768px) {
  .search .search-term {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 0;
    width: 10.875rem;
  }
  .search .search-term:focus {
    border-color: #5bc0de;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(91, 192, 222, 0.6);
  }
}
@media (min-width: 992px) {
  .search .search-term {
    display: none;
  }
}
@media (min-width: 1200px) {
  .search .search-term {
    display: block;
    width: 15rem;
  }
}
.search .search-term {
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.search .search-term:focus {
  border-color: #5bc0de;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(91, 192, 222, 0.6);
}
.search .search-btn {
  width: 3rem;
  border-radius: 0 2px 2px 0;
}
@media (min-width: 768px) {
  .search .search-btn {
    color: white;
    background-color: #999AA2;
    width: 4rem;
    font-size: 1.1rem;
    border-radius: 0 3px 3px 0;
  }
}
@media (min-width: 992px) {
  .search .search-btn {
    border-radius: 3px;
  }
}
@media (min-width: 1200px) {
  .search .search-btn {
    border-radius: 0 3px 3px 0;
  }
}

.search-btn, .search-term {
  border: none;
  background-color: #e8e8e8;
}

nav {
  background-color: #323544;
  height: 6.1rem;
  width: 100%;
  display: none;
}
@media (min-width: 992px) {
  nav {
    display: block;
  }
}

/************************************************************************************/
/************************************************************************************/
.main-nav {
  display: grid;
  color: white;
  grid-template-columns: repeat(7, 8rem);
  grid-auto-rows: 6.1rem;
  max-width: 60rem;
  padding: 0rem calc((100% - 56rem) / 2);
  text-align: center;
}
@media (min-width: 1200px) {
  .main-nav {
    grid-template-columns: repeat(7, 10rem);
    padding: 0 2rem;
  }
}

.main-nav-item {
  padding-top: 0.75rem;
}

.header-nav-icon-wrapper {
  padding-top: 0.5rem;
  height: 2rem;
  width: 100%;
}

.nav-title span {
  text-transform: uppercase;
  line-height: 1rem;
}

.nav-title span:first-child {
  display: block;
  padding-top: 0.25rem;
  font-size: 0.65rem;
  font-weight: 500;
}

.nav-title span:last-child {
  display: block;
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 0.6px;
  padding: 0;
}

/*********************************************************************************************/
/*  main css classes for dropdown                                                            */
/*********************************************************************************************/
.main-nav-item-heading {
  max-height: 7rem;
  margin-top: 2rem;
  font-size: 1.75rem;
  font-weight: 500;
  padding-top: 2rem;
  padding-bottom: 1.75rem;
}

.main-nav-item-summary {
  text-transform: none;
  text-align: left;
}

.main-nav-item:hover i {
  color: white;
}

.nav-service-group ul {
  margin-top: -2.5rem;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.15rem;
}
.nav-service-group ul li {
  display: block;
  height: 3rem;
  width: 22rem;
}
.nav-service-group ul li i {
  display: inline-block;
  width: 1.5rem;
}

.main-nav-lg-dropdown {
  display: block;
  width: 100%;
  position: fixed;
  top: -40rem;
  left: 0;
  z-index: -1;
}

.scroll-disabled {
  position: fixed;
  width: 100%;
  overflow-y: scroll;
}

/*************************************************************************************/
/*  triangle for arrow                                                               */
/*************************************************************************************/
.main-nav-lg-dropdown .arrow {
  position: absolute;
  z-index: -1;
}
.main-nav-lg-dropdown .arrow .mnld-triangle-bespoke {
  width: 0;
  height: 0;
  border-left: 4rem solid transparent; /* width of triangle */
  border-right: 4rem solid transparent;
  border-top: 1.5rem solid #67809f; /* height of triangle */
}
@media (min-width: 1200px) {
  .main-nav-lg-dropdown .arrow .mnld-triangle-bespoke {
    border-left: 5rem solid transparent; /* width of triangle */
    border-right: 5rem solid transparent;
    border-top: 1.5rem solid #67809f; /* height of triangle */
  }
}
.main-nav-lg-dropdown .arrow .mnld-triangle-it-support {
  width: 0;
  height: 0;
  border-left: 4rem solid transparent; /* width of triangle */
  border-right: 4rem solid transparent;
  border-top: 1.5rem solid #4183d7; /* height of triangle */
}
@media (min-width: 1200px) {
  .main-nav-lg-dropdown .arrow .mnld-triangle-it-support {
    border-left: 5rem solid transparent; /* width of triangle */
    border-right: 5rem solid transparent;
    border-top: 1.5rem solid #4183d7; /* height of triangle */
  }
}
.main-nav-lg-dropdown .arrow .mnld-triangle-marketing {
  width: 0;
  height: 0;
  border-left: 4rem solid transparent; /* width of triangle */
  border-right: 4rem solid transparent;
  border-top: 1.5rem solid #2ecc71; /* height of triangle */
}
@media (min-width: 1200px) {
  .main-nav-lg-dropdown .arrow .mnld-triangle-marketing {
    border-left: 5rem solid transparent; /* width of triangle */
    border-right: 5rem solid transparent;
    border-top: 1.5rem solid #2ecc71; /* height of triangle */
  }
}
.main-nav-lg-dropdown .arrow .mnld-triangle-telecoms {
  width: 0;
  height: 0;
  border-left: 4rem solid transparent; /* width of triangle */
  border-right: 4rem solid transparent;
  border-top: 1.5rem solid #d64541; /* height of triangle */
}
@media (min-width: 1200px) {
  .main-nav-lg-dropdown .arrow .mnld-triangle-telecoms {
    border-left: 5rem solid transparent; /* width of triangle */
    border-right: 5rem solid transparent;
    border-top: 1.5rem solid #d64541; /* height of triangle */
  }
}
.main-nav-lg-dropdown .arrow .mnld-triangle-web-design {
  width: 0;
  height: 0;
  border-left: 4rem solid transparent; /* width of triangle */
  border-right: 4rem solid transparent;
  border-top: 1.5rem solid #926fb1; /* height of triangle */
}
@media (min-width: 1200px) {
  .main-nav-lg-dropdown .arrow .mnld-triangle-web-design {
    border-left: 5rem solid transparent; /* width of triangle */
    border-right: 5rem solid transparent;
    border-top: 1.5rem solid #926fb1; /* height of triangle */
  }
}
.main-nav-lg-dropdown .arrow .mnld-triangle-cyber-security {
  width: 0;
  height: 0;
  border-left: 4rem solid transparent; /* width of triangle */
  border-right: 4rem solid transparent;
  border-top: 1.5rem solid #f62459; /* height of triangle */
}
@media (min-width: 1200px) {
  .main-nav-lg-dropdown .arrow .mnld-triangle-cyber-security {
    border-left: 5rem solid transparent; /* width of triangle */
    border-right: 5rem solid transparent;
    border-top: 1.5rem solid #f62459; /* height of triangle */
  }
}
.main-nav-lg-dropdown .arrow .mnld-triangle-dev-training {
  width: 0;
  height: 0;
  border-left: 4rem solid transparent; /* width of triangle */
  border-right: 4rem solid transparent;
  border-top: 1.5rem solid #ce4125; /* height of triangle */
}
@media (min-width: 1200px) {
  .main-nav-lg-dropdown .arrow .mnld-triangle-dev-training {
    border-left: 5rem solid transparent; /* width of triangle */
    border-right: 5rem solid transparent;
    border-top: 1.5rem solid #ce4125; /* height of triangle */
  }
}

/***************************************************************************************/
/* Color organization for dropdown menus                                               */
/***************************************************************************************/
.mnld-bespoke .nav-service-group {
  background-color: #485b72;
}
.mnld-bespoke .main-nav-item-heading {
  background-color: #485b72;
}
.mnld-bespoke .arrow {
  background-color: #485b72;
}
.mnld-bespoke .main-nav-item-summary {
  background-color: #485b72;
}

.main-nav-item.mnld-bespoke:hover {
  background-color: #67809f;
}

.mnld-it-support .nav-service-group {
  background-color: #235ea8;
}
.mnld-it-support .main-nav-item-heading {
  background-color: #235ea8;
}
.mnld-it-support .arrow {
  background-color: #235ea8;
}
.mnld-it-support .main-nav-item-summary {
  background-color: #235ea8;
}

.main-nav-item.mnld-it-support:hover {
  background-color: #4183d7;
}

.mnld-marketing .nav-service-group {
  background-color: #208e4e;
}
.mnld-marketing .main-nav-item-heading {
  background-color: #208e4e;
}
.mnld-marketing .arrow {
  background-color: #208e4e;
}
.mnld-marketing .main-nav-item-summary {
  background-color: #208e4e;
}

.main-nav-item.mnld-marketing:hover {
  background-color: #2ecc71;
}

.mnld-telecoms .nav-service-group {
  background-color: #a72724;
}
.mnld-telecoms .main-nav-item-heading {
  background-color: #a72724;
}
.mnld-telecoms .arrow {
  background-color: #a72724;
}
.mnld-telecoms .main-nav-item-summary {
  background-color: #a72724;
}

.main-nav-item.mnld-telecoms:hover {
  background-color: #d64541;
}

.mnld-web-design .nav-service-group {
  background-color: #6c4a89;
}
.mnld-web-design .main-nav-item-heading {
  background-color: #6c4a89;
}
.mnld-web-design .arrow {
  background-color: #6c4a89;
}
.mnld-web-design .main-nav-item-summary {
  background-color: #6c4a89;
}

.main-nav-item.mnld-web-design:hover {
  background-color: #926fb1;
}

.mnld-cyber-security .nav-service-group {
  background-color: #c50838;
}
.mnld-cyber-security .main-nav-item-heading {
  background-color: #c50838;
}
.mnld-cyber-security .arrow {
  background-color: #c50838;
}
.mnld-cyber-security .main-nav-item-summary {
  background-color: #c50838;
}

.main-nav-item.mnld-cyber-security:hover {
  background-color: #f62459;
}

.mnld-dev-training .nav-service-group {
  background-color: #8d2d19;
}
.mnld-dev-training .main-nav-item-heading {
  background-color: #8d2d19;
}
.mnld-dev-training .arrow {
  background-color: #8d2d19;
}
.mnld-dev-training .main-nav-item-summary {
  background-color: #8d2d19;
}

.main-nav-item.mnld-dev-training:hover {
  background-color: #ce4125;
}

.mobile-menu {
  position: fixed;
  width: 21rem;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  background-color: #262834;
  color: white;
  z-index: -999;
  text-transform: uppercase;
}

.mobile-menu h4 {
  padding: 1.25rem 0.75rem;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.4px;
  background-color: #3D404E;
}

.mobile-menu li {
  padding: 1rem 0.75rem;
  background-color: #262834;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  letter-spacing: 0.4px;
}

.mobile-menu li {
  display: flex;
  align-items: center;
}

.mobile-menu li i {
  font-size: 0.5rem;
}

.hamburger-menu-button {
  display: flex;
  flex-wrap: wrap;
  width: 4rem;
  background: #22242E;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  transition: transform 300ms ease;
}

.hamburger-menu-button > span {
  background: white;
  height: 0.3rem;
  min-width: 2rem;
  border-radius: 4px;
  transition: transform 300ms ease;
}

.hamburger-menu-expanded .hamburger-line-1 {
  transform: translateY(15px) rotate(45deg);
}

.hamburger-menu-expanded .hamburger-line-2 {
  width: 0;
  opacity: 0;
}

.hamburger-menu-expanded .hamburger-line-3 {
  transform: translateY(-12px) rotate(-45deg);
}

.content {
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
}
@media (min-width: 480px) {
  .content .content {
    padding: 2rem;
  }
}
@media (min-width: 1200px) {
  .content .content {
    padding: 2rem 0;
  }
}

/********************************************************************************/
/* main carousel                                                                */
/********************************************************************************/
.carousel-slide {
  background-color: #808080;
  color: white;
  background-size: cover;
  background-position: right 0;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  height: 34.375rem;
}
.carousel-slide .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding: 5rem 1rem 1.5rem;
  height: 100%;
}
@media (min-width: 768px) {
  .carousel-slide .content {
    padding: 8.5rem 4rem 2.5rem;
  }
}
@media (min-width: 992px) {
  .carousel-slide .content {
    padding: 4.5rem 8rem 2.5rem 8rem;
    justify-content: flex-start;
  }
}
@media (min-width: 1200px) {
  .carousel-slide .content {
    padding: 4.5rem 0 2.5rem 0;
  }
}
.carousel-slide .find-out-btn-wrapper {
  width: 100%;
  padding-top: 1rem;
}
@media (min-width: 768px) {
  .carousel-slide .find-out-btn-wrapper {
    margin-top: -2rem;
  }
}
.carousel-slide .find-out-btn-wrapper .find-out-btn {
  display: block;
  min-height: 4rem;
  max-width: 15.625rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 1.25rem;
  letter-spacing: 0.4px;
  border-radius: 0.3rem;
  margin: 0 auto;
  text-transform: uppercase;
}
@media (min-width: 992px) {
  .carousel-slide .find-out-btn-wrapper .find-out-btn {
    margin: 2rem 0;
  }
}
.carousel-slide h1, .carousel-slide h3, .carousel-slide a {
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.025rem;
}
@media (min-width: 992px) {
  .carousel-slide h1, .carousel-slide h3, .carousel-slide a {
    text-align: left;
  }
}
.carousel-slide h1 {
  font-size: 2.25rem;
  line-height: 2.85rem;
  min-width: 100%;
}
@media (min-width: 992px) {
  .carousel-slide h1 {
    font-size: 4rem;
    line-height: 5rem;
    font-weight: 600;
  }
}
.carousel-slide h3 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.75rem;
  padding-top: 0.5rem;
  min-width: 100%;
}
@media (min-width: 768px) {
  .carousel-slide h3 {
    padding-top: 0;
    margin-top: -1rem;
  }
}
@media (min-width: 992px) {
  .carousel-slide h3 {
    line-height: 2.5rem;
    font-size: 1.625rem;
    letter-spacing: 0.4px;
    margin-top: 0;
    padding-top: 0.5rem;
  }
}

.carousel-slide-home1 {
  background-image: url("../images/carouselImages/home1-slide.png");
}

.carousel-slide-bespoke2 {
  background-image: url("../images/carouselImages/home2_bespoke.jpg");
}

.carousel-slide-it-support3 {
  background-image: url("../images/carouselImages/home3_ITSupport.png");
}

.carousel-slide-marketing4 {
  background-image: url("../images/carouselImages/home4_DigitalMarketing.png");
}

.carousel-slide-telecoms5 {
  background-image: url("../images/carouselImages/home5_Telecoms.png");
}

.carousel-slide-web-design6 {
  background-image: url("../images/carouselImages/home6_webDesign.jpg");
}

.carousel-slide-cyber-security7 {
  background-image: url("../images/carouselImages/home7_cybersecurity.png");
}

/* Slick dots */
.carousel-slides .slick-dots {
  bottom: 4rem;
  position: relative;
}

.carousel-slides .slick-dots li button:before {
  font-size: 1rem;
  color: #d3d3d3;
}

.carousel-slides .slick-dots li.slick-active button:before {
  font-size: 1rem;
  color: white;
}

/**********************************************************************************/
/*  small carousels that separate other screen elements                           */
/**********************************************************************************/
.sml-carousel {
  display: flex;
  margin-top: 4rem;
  height: 10.5rem;
  width: 100%;
  overflow: hidden;
}

.sml-carousel2-image-8, .sml-carousel2-image-7, .sml-carousel2-image-6, .sml-carousel2-image-5, .sml-carousel2-image-4, .sml-carousel2-image-3, .sml-carousel2-image-2, .sml-carousel2-image-1, .sml-carousel-image-9, .sml-carousel-image-8, .sml-carousel-image-7, .sml-carousel-image-6, .sml-carousel-image-5, .sml-carousel-image-4, .sml-carousel-image-3, .sml-carousel-image-1, .sml-carousel-image-2 {
  height: 8rem;
  min-width: 16rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #fff;
  background-blend-mode: luminosity;
}

.sml-carousel-image-2 {
  background-image: url("../images/sml-carousel-1/future-50.jpg");
}

.sml-carousel-image-1 {
  background-image: url("../images/sml-carousel-1/google-partner.jpg");
}

.sml-carousel-image-3 {
  background-image: url("../images/sml-carousel-1/investing-in-future-growth.jpg");
}

.sml-carousel-image-4 {
  background-image: url("../images/sml-carousel-1/living_wage.png");
}

.sml-carousel-image-5 {
  background-image: url("../images/sml-carousel-1/norfolk_prohelp.png");
}

.sml-carousel-image-6 {
  background-image: url("../images/sml-carousel-1/norfolk-carbon-charter.jpg");
}

.sml-carousel-image-7 {
  background-image: url("../images/sml-carousel-1/PPC_logo.jpg");
}

.sml-carousel-image-8 {
  background-image: url("../images/sml-carousel-1/princess-royal-training.jpg");
}

.sml-carousel-image-9 {
  background-image: url("../images/sml-carousel-1/qms.jpg");
}

.sml-carousel2-image-1 {
  background-image: url("../images/sml-carousel-2/home-gZQR.png");
}

.sml-carousel2-image-2 {
  background-image: url("../images/sml-carousel-2/girl_guides_anglia_logo.png");
}

.sml-carousel2-image-3 {
  background-image: url("../images/sml-carousel-2/howespercivallogo.png");
}

.sml-carousel2-image-4 {
  background-image: url("../images/sml-carousel-2/searles_logo.jpg");
}

.sml-carousel2-image-5 {
  background-image: url("../images/sml-carousel-2/beat_logo.png");
}

.sml-carousel2-image-6 {
  background-image: url("../images/sml-carousel-2/sweetzy_logo.png");
}

.sml-carousel2-image-7 {
  background-image: url("../images/sml-carousel-2/searles_logo.jpg");
}

.sml-carousel2-image-8 {
  background-image: url("../images/sml-carousel-2/girls_day_school_trust_logob.png");
}

.services-heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.75rem;
  padding-top: 1rem;
  margin-left: 1rem;
}
@media (min-width: 768px) {
  .services-heading {
    margin-left: 0;
  }
}
.services-heading h2 {
  font-size: 2.6rem;
  font-weight: 600;
  letter-spacing: 0;
  color: #33363b;
}
@media (min-width: 480px) {
  .services-heading h2 {
    margin-left: 0;
  }
}
@media (min-width: 768px) {
  .services-heading h2 {
    margin-left: 1rem;
  }
}
@media (min-width: 992px) {
  .services-heading h2 {
    margin-left: 6rem;
  }
}
@media (min-width: 1200px) {
  .services-heading h2 {
    margin-left: 0;
  }
}
.services-heading a {
  font-weight: 600;
  font-size: 1.625rem;
  letter-spacing: 0.4px;
  padding-top: 1rem;
  display: none;
  color: #33363b;
}
@media (min-width: 768px) {
  .services-heading a {
    display: block;
  }
}
@media (min-width: 992px) {
  .services-heading a {
    margin-right: 7.5rem;
  }
}
@media (min-width: 1200px) {
  .services-heading a {
    margin-right: 0;
  }
}

.service-cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.75rem;
  margin: 0 1rem;
}
@media (min-width: 768px) {
  .service-cards {
    padding: 0 2.5rem;
    margin: 0;
    grid-template-columns: 1fr 1fr;
  }
  .service-cards .service-card:nth-child(-n+3) {
    grid-column: span 2;
  }
  .service-cards .service-card:nth-child(n+4) {
    grid-column: span 1;
  }
}
@media (min-width: 992px) {
  .service-cards {
    margin-left: 7.5rem;
    margin-right: 8.5rem;
    padding: 0 0.5rem;
    grid-template-columns: repeat(12, 1fr);
  }
  .service-cards .service-card:nth-child(-n+3) {
    grid-column: span 4;
  }
  .service-cards .service-card:nth-child(n+4) {
    grid-column: span 6;
  }
}
@media (min-width: 1200px) {
  .service-cards {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }
  .service-cards .service-card:nth-child(n+4) {
    grid-column: span 3;
  }
}

.service-card {
  font-size: 13px;
  letter-spacing: 0.2px;
  line-height: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  max-width: 100%;
  height: 19rem;
  box-shadow: 0px 3px 35px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  border-radius: 15px;
  transition: all 0.5s ease;
}
@media (min-width: 768px) {
  .service-card:nth-child(-n+3) {
    height: 16.5rem;
  }
}
@media (min-width: 992px) {
  .service-card:nth-child(-n+3) {
    height: 20rem;
  }
}
.service-card h4 {
  margin-top: 1.25rem;
  margin-bottom: 1.05rem;
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 0.01rem;
  color: #33363b;
}
.service-card p {
  text-align: center;
  height: 3.55rem;
}
.service-card a {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 2.75rem;
  width: 7.75rem;
  max-width: 25rem;
  height: 2.75rem;
  border-radius: 0.25rem;
  color: white;
  font-weight: 400;
  font-size: 1.075rem;
  letter-spacing: 0.0125rem;
  margin-bottom: 1rem;
  margin-top: auto;
}

.service-card:nth-of-type(1) a {
  background-color: #67809f;
}
.service-card:nth-of-type(1):hover {
  background-color: #67809f;
  color: white;
  transform: translateY(-8px);
  cursor: pointer;
}
.service-card:nth-of-type(1):hover .card-icon, .service-card:nth-of-type(1):hover a {
  background-color: white;
  color: #67809f;
}
.service-card:nth-of-type(1) .card-icon {
  background-color: #67809f;
  color: white;
}

.service-card:nth-of-type(2) a {
  background-color: #4183d7;
}
.service-card:nth-of-type(2):hover {
  background-color: #4183d7;
  color: white;
  transform: translateY(-8px);
  cursor: pointer;
}
.service-card:nth-of-type(2):hover .card-icon, .service-card:nth-of-type(2):hover a {
  background-color: white;
  color: #4183d7;
}
.service-card:nth-of-type(2) .card-icon {
  background-color: #4183d7;
  color: white;
}

.service-card:nth-of-type(3) a {
  background-color: #2ecc71;
}
.service-card:nth-of-type(3):hover {
  background-color: #2ecc71;
  color: white;
  transform: translateY(-8px);
  cursor: pointer;
}
.service-card:nth-of-type(3):hover .card-icon, .service-card:nth-of-type(3):hover a {
  background-color: white;
  color: #2ecc71;
}
.service-card:nth-of-type(3) .card-icon {
  background-color: #2ecc71;
  color: white;
}

.service-card:nth-of-type(4) a {
  background-color: #d64541;
}
.service-card:nth-of-type(4):hover {
  background-color: #d64541;
  color: white;
  transform: translateY(-8px);
  cursor: pointer;
}
.service-card:nth-of-type(4):hover .card-icon, .service-card:nth-of-type(4):hover a {
  background-color: white;
  color: #d64541;
}
.service-card:nth-of-type(4) .card-icon {
  background-color: #d64541;
  color: white;
}

.service-card:nth-of-type(5) a {
  background-color: #926fb1;
}
.service-card:nth-of-type(5):hover {
  background-color: #926fb1;
  color: white;
  transform: translateY(-8px);
  cursor: pointer;
}
.service-card:nth-of-type(5):hover .card-icon, .service-card:nth-of-type(5):hover a {
  background-color: white;
  color: #926fb1;
}
.service-card:nth-of-type(5) .card-icon {
  background-color: #926fb1;
  color: white;
}

.service-card:nth-of-type(6) a {
  background-color: #f62459;
}
.service-card:nth-of-type(6):hover {
  background-color: #f62459;
  color: white;
  transform: translateY(-8px);
  cursor: pointer;
}
.service-card:nth-of-type(6):hover .card-icon, .service-card:nth-of-type(6):hover a {
  background-color: white;
  color: #f62459;
}
.service-card:nth-of-type(6) .card-icon {
  background-color: #f62459;
  color: white;
}

.service-card:nth-of-type(7) a {
  background-color: #ce4125;
}
.service-card:nth-of-type(7):hover {
  background-color: #ce4125;
  color: white;
  transform: translateY(-8px);
  cursor: pointer;
}
.service-card:nth-of-type(7):hover .card-icon, .service-card:nth-of-type(7):hover a {
  background-color: white;
  color: #ce4125;
}
.service-card:nth-of-type(7) .card-icon {
  background-color: #ce4125;
  color: white;
}

.latest-news-heading {
  display: flex;
  justify-content: space-between;
  margin: 2.5rem 1rem 1.5rem;
}
@media (min-width: 768px) {
  .latest-news-heading {
    margin: 2.5rem 2.5rem 1.5rem 2.5rem;
  }
}
@media (min-width: 992px) {
  .latest-news-heading {
    margin: 2.5rem 7rem 1.5rem 7.5rem;
  }
}
@media (min-width: 1200px) {
  .latest-news-heading {
    margin: 2.5rem -1rem 1.5rem 0;
  }
}
.latest-news-heading h2 {
  font-size: 2.25rem;
  margin-top: 0.65rem;
  font-weight: 600;
  letter-spacing: 0.01rem;
  color: #333645;
}
.latest-news-heading a {
  font-weight: 600;
  font-size: 1.625rem;
  letter-spacing: 1px;
  padding-top: 1rem;
  padding-right: 1rem;
  display: none;
}
@media (min-width: 768px) {
  .latest-news-heading a {
    display: block;
  }
}

.latest-cards {
  display: grid;
  gap: 2rem;
  padding: 1rem;
  grid-template-columns: repeat(6, 1fr);
  justify-content: center;
}
@media (min-width: 768px) {
  .latest-cards {
    padding: 1rem 2.5rem;
  }
  .latest-cards > *:nth-child(n+3) {
    display: none;
  }
}
@media (min-width: 992px) {
  .latest-cards {
    padding: 1rem 7.5rem;
  }
}
@media (min-width: 1200px) {
  .latest-cards {
    padding: 1rem 0;
  }
  .latest-cards > *:nth-child(n+3) {
    display: block;
  }
}

.latest-card {
  box-shadow: 0px 3px 40px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  grid-column: span 6;
}
.latest-card > *:not(:first-child) {
  padding: 0.5rem 1.85rem;
}
.latest-card img {
  width: 100%;
  height: auto;
}
@media (min-width: 768px) {
  .latest-card {
    grid-column: span 3;
  }
}
@media (min-width: 1200px) {
  .latest-card {
    grid-column: span 2;
  }
}
.latest-card:first-child h4 {
  color: #2ecc71;
}
.latest-card:first-child button {
  background-color: #2ecc71;
}
.latest-card:nth-child(2) h4 {
  color: #2ecc71;
}
.latest-card:nth-child(2) button {
  background-color: #2ecc71;
}
.latest-card:last-child h4 {
  color: #926fb1;
}
.latest-card:last-child button {
  background-color: #926fb1;
}
.latest-card h4 {
  font-weight: 600;
  font-size: 16px;
}
.latest-card p {
  font-size: 13px;
  letter-spacing: 0.4px;
  line-height: 22px;
  color: rgb(102, 102, 102);
}
.latest-card .latest-read-more {
  justify-self: flex-start;
  margin: 1.4rem 1.85rem;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 29rem;
  height: 2.938rem;
  border-radius: 0.25rem;
  color: white;
  border: none;
  font-size: 17.008px;
  font-weight: 400;
  letter-spacing: 0.4px;
  line-height: 35px;
}
.latest-card .img-wrapper {
  position: relative;
}
.latest-card .badge {
  position: absolute;
  color: white;
  font-weight: 600;
  top: 0.625rem;
  padding: 0 0.625rem;
  right: 0;
  text-transform: uppercase;
}
.latest-card .badge.badge1 {
  background-color: #2ecc71;
}
.latest-card .badge.badge2 {
  background-color: #2ecc71;
}
.latest-card .badge.badge3 {
  background-color: #926fb1;
}
.latest-card .avatar {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}
.latest-card .posted-by {
  display: flex;
  border-top: 1px solid rgb(204, 204, 204);
  padding: 1.75rem 0 1.75rem 0;
  margin: 0.6rem 1.85rem 0 1.85rem;
}
.latest-card .posted-by div {
  padding-left: 1rem;
}
.latest-card .posted-by div .post-author, .latest-card .posted-by div .post-date {
  font-size: 14px;
  letter-spacing: 0.4px;
  line-height: 22px;
}
.latest-card .posted-by div .post-author {
  font-weight: 600;
}

.latest-card {
  transition: transform 0.5s ease;
}

.latest-card:hover {
  transform: translateY(-10px);
  cursor: pointer;
}

.contact-form {
  background-color: #e8e8e8;
  padding: 2.5rem 1rem;
  width: 100%;
  color: #515459;
}
@media (min-width: 768px) {
  .contact-form {
    padding: 2.5rem;
  }
}
@media (min-width: 992px) {
  .contact-form {
    padding: 2.5rem 7rem 2.5rem 7.25rem;
  }
}
@media (min-width: 1200px) {
  .contact-form {
    padding: 2.5rem 0 2.5rem 0;
  }
}
.contact-form h3 {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.4px;
}

.form-control {
  padding: 1rem 0.275rem;
}

.form-control.checkbox-container {
  padding: 0 0.275rem 2.1rem;
}
.form-control.checkbox-container label span {
  font-weight: 600;
  line-height: 2rem;
  letter-spacing: 0.4px;
  font-size: 1rem;
}

.text-input label, .text-input input {
  display: block;
  width: 10rem;
}
.text-input label {
  margin-bottom: 0.25rem;
}
.text-input input {
  height: 2.9rem;
  width: 100%;
  border: none;
}
.text-input span {
  color: red;
  font-weight: bold;
}

.contact-form-data {
  display: flex;
  flex-direction: column;
}
@media (min-width: 992px) {
  .contact-form-data {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 4rem;
  }
  .contact-form-data .text-input {
    width: calc((100% - 4rem) / 2);
  }
}
.contact-form-data label {
  font-weight: 600;
  letter-spacing: 0.4px;
}
.contact-form-data .checkbox-container {
  display: flex;
  gap: 5rem;
}
.contact-form-data .checkbox-container label {
  cursor: pointer;
  display: flex;
}
.contact-form-data .checkbox-container label span {
  margin-left: 0.5rem;
}
.contact-form-data .checkbox-container input {
  cursor: pointer;
  opacity: 0;
  position: absolute;
}
.contact-form-data .checkbox-container label::before {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  flex: 1.5rem 0 0;
  align-self: flex-start;
  border-radius: 0.15rem;
  border: 0.225rem solid #333645;
  margin-right: 0.5rem;
}
.contact-form-data .checkbox-container input[type=checkbox]:checked + label::before {
  content: "\f00c";
  font: var(--fa-font-solid);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  font-size: 1.1rem;
}

.contact-form-submit {
  min-width: 100%;
}
.contact-form-submit button {
  background-color: #333645;
  color: white;
  height: 2.9rem;
  width: 7.5rem;
  font-size: 1.025rem;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 0.25rem;
}

footer {
  color: white;
  background-color: #323544;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5.5rem 10.5rem repeat(4, auto);
  grid-template-areas: "logo" "soc-media" "about" "services" "industries" "locations";
  padding: 1rem;
}
@media (min-width: 768px) {
  .footer-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5.5rem 6.5rem repeat(2, auto);
    grid-template-areas: "logo . " "soc-media . " "about services " "industries locations";
    padding: 3rem;
  }
}
@media (min-width: 992px) {
  .footer-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 5.25rem 7rem 19rem;
    grid-template-areas: "logo logo . . " "soc-media soc-media . ." "about services industries locations";
    padding: 2.5rem 7.5rem 1rem 7.5rem;
    column-gap: 2rem;
  }
}
@media (min-width: 1200px) {
  .footer-grid {
    grid-template-columns: 22rem repeat(4, 1fr);
    grid-template-rows: 7rem 12rem;
    grid-template-areas: "logo      about services industries locations" "soc-media about services industries locations";
    column-gap: 3rem;
    padding: 2.5rem 0 2.5rem 0;
  }
}

.footer-grid-item h4 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 17.4px;
  letter-spacing: 0.4px;
}
.footer-grid-item li {
  font-size: 13px;
  line-height: 22px;
  letter-spacing: 0.4px;
}

.footer-grid-item:nth-child(n+3) h4 {
  margin-top: 1.75rem;
  margin-bottom: 1rem;
}
.footer-grid-item:nth-child(n+3) ul {
  margin-bottom: 0.75rem;
}

.footer-grid-item.logo {
  grid-area: logo;
}
.footer-grid-item.logo .img-container img {
  width: 15rem;
  height: auto;
}
@media (min-width: 768px) {
  .footer-grid-item.logo .img-container img {
    width: 30rem;
    height: auto;
  }
}
@media (min-width: 992px) {
  .footer-grid-item.logo .img-container img {
    width: 20rem;
    height: auto;
  }
}
@media (min-width: 1200px) {
  .footer-grid-item.logo {
    padding-top: 2rem;
  }
  .footer-grid-item.logo .img-container img {
    width: 19rem;
    height: auto;
  }
}

.footer-grid-item.soc-media {
  grid-area: soc-media;
}
.footer-grid-item.soc-media h4 {
  margin-bottom: 1.75rem;
}

.footer-grid-item.about {
  grid-area: about;
}

.footer-grid-item.services {
  grid-area: services;
}

.footer-grid-item.industries {
  grid-area: industries;
}

.footer-grid-item.locations {
  grid-area: locations;
}

.footer-icon-block {
  margin-top: 1.3rem;
  display: grid;
  grid-template-columns: 7rem 7rem;
  gap: 0.5rem;
}
@media (min-width: 768px) {
  .footer-icon-block {
    grid-template-columns: repeat(4, 4.5rem);
  }
}
.footer-icon-block i {
  background-color: rgb(33, 35, 48);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  width: 6.8rem;
}
@media (min-width: 768px) {
  .footer-icon-block i {
    height: 3.5rem;
    width: 4.5rem;
  }
}

.copyright-div {
  background-color: rgb(33, 35, 48);
  padding: 1rem 1rem;
}
.copyright-div p:nth-child(3) {
  display: none;
}
.copyright-div .copyright-text {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  letter-spacing: 0.4px;
  line-height: 1.16rem;
  background-color: rgb(33, 35, 48);
}
@media (min-width: 480px) {
  .copyright-div .copyright-text {
    flex-direction: row;
  }
  .copyright-div .copyright-text p {
    padding-right: 0.5rem;
  }
  .copyright-div .copyright-text p:nth-child(3) {
    display: block;
  }
}
@media (min-width: 768px) {
  .copyright-div .copyright-text {
    padding-left: 2rem;
  }
}
@media (min-width: 992px) {
  .copyright-div .copyright-text {
    padding-left: 6rem;
  }
}
@media (min-width: 1200px) {
  .copyright-div .copyright-text {
    padding-left: 0;
  }
}

.welcome-group {
  background-color: #323544;
  color: white;
  padding: 3rem 1rem;
}
.welcome-group p {
  padding: 1.1rem 0;
  letter-spacing: 0.4px;
  line-height: 30px;
}
@media (min-width: 768px) {
  .welcome-group {
    padding: 2.5rem 2rem 3rem 2.5rem;
  }
}
@media (min-width: 992px) {
  .welcome-group {
    padding: 3rem 8rem 3rem 8rem;
  }
}

.welcome-heading {
  line-height: 39.6px;
}

.welcome-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  grid-column-gap: 3.33rem;
}
@media (min-width: 992px) {
  .welcome-content {
    grid-template-columns: 1fr 1fr;
  }
}

.btn-group {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.welcome-content a {
  padding: 1rem 2rem;
  border-radius: 6px;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 0.4px;
  font-weight: 400;
}
.welcome-content h2 {
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 0.4px;
}
.welcome-content .feedback-header {
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
}
@media (min-width: 992px) {
  .welcome-content .feedback-header {
    margin-top: -0.5rem;
  }
}

.google-btn, .trustpilot-btn {
  margin-top: 1.5rem;
}

.google-btn {
  background-color: #166af4;
}

.trustpilot-btn {
  background-color: #00b67b;
}
@media (min-width: 992px) {
  .trustpilot-btn {
    margin-top: 0.333rem;
  }
}
@media (min-width: 1200px) {
  .trustpilot-btn {
    align-self: flex-end;
  }
}

.welcome-group .find-out-btn,
.welcome-group .culture-btn {
  background-color: #272936;
}

.stars {
  color: orange;
  padding-top: 1.5rem;
  padding-bottom: 1.1rem;
  font-size: 1.75rem;
}

.review-text {
  font-style: italic;
  line-height: 1.875rem;
  letter-spacing: 0.025rem;
  font-weight: 600;
  font-size: 1.3rem;
}

.reviewer span:first-child {
  color: #a3a8ac;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 0.025rem;
  line-height: 1.875rem;
}
.reviewer span:last-child {
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 0.025rem;
  line-height: 1.875rem;
}

/*# sourceMappingURL=index.css.map */
