/********************************************************************************/
/* main carousel                                                */
/********************************************************************************/

.carousel {
    background-color: #808080;
    color: white;
    background-image: url("../images/carouselImages/home-YLei.png");
    background-size: cover;
    background-position: right 0;
    background-blend-mode: multiply;
    background-repeat: no-repeat;  
    height: 35rem;  
   
    .content {
       
        display: flex; 
        justify-content: center;
        flex-wrap: wrap;
       
        align-items:center;

        padding: 5rem 1rem 1.5rem;
        height: 100%;       

        @include md {
            padding: 8.5rem 1rem 2.5rem;
        }

        @include lg {
            padding: 4.5rem 3rem 2.5rem;
            justify-content: flex-start;
        } 
    }

    .choose-btn-wrapper {
        width: 100%;
        padding-top: 1rem;

        @include md {
            margin-top: -2rem;
        }

        .choose-btn {
            display: block;
            min-height:4rem;
            max-width: 15.625rem;
            background-color:map-get($colors, web-design);
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 400;
            font-size: 1.25rem;
            letter-spacing: 0.4px;
            border-radius: 0.3rem;
            margin: 0 auto;
            text-transform: uppercase;
            
            @include lg {
                margin: 2rem 0;
            }
        }
    }

    h1, h3, a {
        text-align: center;
        font-weight: 600;    
        letter-spacing: 0.025rem;      

        @include lg {
            text-align:left;
        }
    }

    h1 {
        font-size: 2.25rem;
        line-height: 2.85rem;            
        
        @include lg {
          
            font-size: 4rem;
            line-height: 5rem;
            font-weight: 600;
        }
    }

    h3 {        
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 1.75rem;
        padding-top: 0.5rem;

        @include md {
            padding-top: 0;
            margin-top: -1rem;
        }

        @include lg {
            line-height: 2.5rem;
            font-size: 1.625rem;
            letter-spacing: 0.4px;
            margin-top: 0;
            padding-top: 0.5rem;
        }
    }

    //owl group connected to images
    .owl-group {
 
        height: 2rem;
        width: 13.5rem;
        margin-bottom: 0;
        margin-top: auto;
   
        display: flex;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        gap: 0.4rem;
        
        .owl-container {
            height: 1.5rem;
            width: 1.5rem;  
            display: flex;
            justify-content: center;
            align-items: center; 
        } 
        
        .owl {
            height: 0.75rem;
            width: 0.75rem;
            background-color: #c8c8c8;
            border-radius: 50%;
        }
               
        .active-owl {
            border-radius: 50%;
            border: 0.15rem solid white;   
        }

        .active-dot {
            background-color: white;
        }
    }

}




/**********************************************************************************/
/*  small carousels that separate other screen elements                           */
/**********************************************************************************/

.sml-carousel {
    display: flex;  
    margin-top: 4rem;
    height: 10.5rem;
    width: 100%;
    overflow: hidden; 
}

%sml-carousel-image {  
    height: 8rem; 
    min-width: 16rem;  
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    background-blend-mode: luminosity; 
}

.sml-carousel-image-2 {
    @extend %sml-carousel-image;
    background-image: url("../images/sml-carousel-1/future-50.jpg"); 
}

.sml-carousel-image-1 {
    @extend %sml-carousel-image;
    background-image: url("../images/sml-carousel-1/google-partner.jpg"); 
}

.sml-carousel-image-3 {
    @extend %sml-carousel-image;
    background-image: url("../images/sml-carousel-1/investing-in-future-growth.jpg"); 
}

.sml-carousel-image-4 {
    @extend %sml-carousel-image;
    background-image: url("../images/sml-carousel-1/living_wage.png"); 
}

.sml-carousel-image-5 {
    @extend %sml-carousel-image;
    background-image: url("../images/sml-carousel-1/norfolk_prohelp.png"); 
}

.sml-carousel-image-6 {
    @extend %sml-carousel-image;
    background-image: url("../images/sml-carousel-1/norfolk-carbon-charter.jpg"); 
}
.sml-carousel-image-7 {
    @extend %sml-carousel-image;
    background-image: url("../images/sml-carousel-1/PPC_logo.jpg"); 
}

.sml-carousel-image-8 {
    @extend %sml-carousel-image;
    background-image: url("../images/sml-carousel-1/princess-royal-training.jpg"); 
}

.sml-carousel-image-9 {
    @extend %sml-carousel-image;
    background-image: url("../images/sml-carousel-1/qms.jpg"); 
}

.sml-carousel2-image-1 {
    @extend %sml-carousel-image;
    background-image: url("../images/sml-carousel-2/home-gZQR.png"); 
}

.sml-carousel2-image-2 {
    @extend %sml-carousel-image;
    background-image: url("../images/sml-carousel-2/girl_guides_anglia_logo.png"); 
}

.sml-carousel2-image-3 {
    @extend %sml-carousel-image;
    background-image: url("../images/sml-carousel-2/howespercivallogo.png"); 
}

.sml-carousel2-image-4 {
    @extend %sml-carousel-image;
    background-image: url("../images/sml-carousel-2/searles_logo.jpg"); 
}

.sml-carousel2-image-5 {
    @extend %sml-carousel-image;
    background-image: url("../images/sml-carousel-2/beat_logo.png"); 
}

.sml-carousel2-image-6 {
    @extend %sml-carousel-image;
    background-image: url("../images/sml-carousel-2/sweetzy_logo.png"); 
}

.sml-carousel2-image-7 {
    @extend %sml-carousel-image;
    background-image: url("../images/sml-carousel-2/searles_logo.jpg"); 
}

.sml-carousel2-image-8 {
    @extend %sml-carousel-image;    
    background-image: url("../images/sml-carousel-2/girls_day_school_trust_logob.png"); 
}