/********************************************************************************/
/* main carousel                                                                */
/********************************************************************************/ 

.carousel-slide {
    background-color: #808080;
    color: white;
  //  background-image: url("../images/carouselImages/home1-slide.png");
    background-size: cover;
    background-position: right 0;
    background-blend-mode: multiply;
    background-repeat: no-repeat;  
    height: 34.375rem;      
   
    .content {
       
        display: flex; 
        justify-content: center;
        flex-wrap: wrap;       
        align-items: flex-start;

        padding: 0 1rem 1.5rem;

        @include xs {
            padding: 1rem 1rem 1.5rem;
        }
       

     
        height: 100%;       

        @include md {
            padding: 8.5rem 4rem 2.5rem;
            align-items: flex-start;
        }

        @include lg {
            padding: 4.5rem 8rem 2.5rem 8rem;
            justify-content: flex-start;
        } 

        @include xl {
            padding: 4.5rem 0 2.5rem 0;
        }
    }


    .find-out-btn-wrapper {
        width: 100%;

        @include xs {
            padding-top: 1rem;
        }       

        @include md {
            margin-top: -2rem;
        }

        .find-out-btn {
            display: block;
            min-height:4rem;
            max-width: 15.625rem;     
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 400;
            font-size: 1.25rem;
            letter-spacing: 0.4px;
            border-radius: 0.3rem;
            margin: 0 auto;
            text-transform: uppercase;
            
            @include lg {
                margin: 2rem 0;
            }
        }
    }

    h1, h3, a {
        text-align: center;
        font-weight: 600;    
        letter-spacing: 0.025rem;         

        @include lg {
            text-align:left;
        }
    }

    h1 {
        font-size: 2.25rem;
        line-height: 2.85rem;  
        min-width: 100%;   
        margin-top: 2.5rem;  
        margin-bottom: -2rem;
        @include md  {
            margin-top: 0;
            margin-bottom: 0;
        }       
        
        @include lg {
          
            font-size: 4rem;
            line-height: 5rem;
            font-weight: 600;            
        }
    }

    h3 {        
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 1.75rem;
        padding-top:0;
        min-width: 100%;   
        
        margin-top: 1.25rem;

        @include md {
            padding-top: 0;
            margin-top: -1rem;
        }

        @include lg {
            line-height: 2.5rem;
            font-size: 1.625rem;
            letter-spacing: 0.4px;
            margin-top: 0;
            padding-top: 0.5rem;
        }
    }
}

.carousel-slide-home1 {
    background-image: url("../images/carouselImages/home1-slide.png");
}

.carousel-slide-bespoke2 {
    background-image: url("../images/carouselImages/home2_bespoke.jpg");
}

.carousel-slide-it-support3 {
    background-image: url("../images/carouselImages/home3_ITSupport.png");
}

.carousel-slide-marketing4 {
    background-image: url("../images/carouselImages/home4_DigitalMarketing.png");
}

.carousel-slide-telecoms5 {
    background-image: url("../images/carouselImages/home5_Telecoms.png");
}

.carousel-slide-web-design6 {
    background-image: url("../images/carouselImages/home6_webDesign.jpg");
}

.carousel-slide-cyber-security7 {
    background-image: url("../images/carouselImages/home7_cybersecurity.png");
}

  /* Slick dots */
.carousel-slides .slick-dots {
    bottom: 2.5rem;

    @include xs {
        bottom: 3.25rem;
    }

    @include sm {
        bottom: 4rem;
    }
   
    position: relative;
}

.carousel-slides .slick-dots li button:before {
    font-size: 1rem;  
    color: #d3d3d3;
}


.carousel-slides .slick-dots li.slick-active button:before {
    font-size: 1rem;
    color: white;
}  



/**********************************************************************************/
/*  small carousels that separate other screen elements                           */
/**********************************************************************************/

.sml-carousel {
    display: flex;  
    margin-top: 4rem;
    height: 10.5rem;
    width: 100%;
    overflow: hidden; 
}

%sml-carousel-image {  
    height: 8rem; 
    min-width: 16rem;  
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    background-blend-mode: luminosity; 
}

.sml-carousel-image-2 {
    @extend %sml-carousel-image;
    background-image: url("../images/sml-carousel-1/future-50.jpg"); 
}

.sml-carousel-image-1 {
    @extend %sml-carousel-image;
    background-image: url("../images/sml-carousel-1/google-partner.jpg"); 
}

.sml-carousel-image-3 {
    @extend %sml-carousel-image;
    background-image: url("../images/sml-carousel-1/investing-in-future-growth.jpg"); 
}

.sml-carousel-image-4 {
    @extend %sml-carousel-image;
    background-image: url("../images/sml-carousel-1/living_wage.png"); 
}

.sml-carousel-image-5 {
    @extend %sml-carousel-image;
    background-image: url("../images/sml-carousel-1/norfolk_prohelp.png"); 
}

.sml-carousel-image-6 {
    @extend %sml-carousel-image;
    background-image: url("../images/sml-carousel-1/norfolk-carbon-charter.jpg"); 
}
.sml-carousel-image-7 {
    @extend %sml-carousel-image;
    background-image: url("../images/sml-carousel-1/PPC_logo.jpg"); 
}

.sml-carousel-image-8 {
    @extend %sml-carousel-image;
    background-image: url("../images/sml-carousel-1/princess-royal-training.jpg"); 
}

.sml-carousel-image-9 {
    @extend %sml-carousel-image;
    background-image: url("../images/sml-carousel-1/qms.jpg"); 
}

.sml-carousel2-image-1 {
    @extend %sml-carousel-image;
    background-image: url("../images/sml-carousel-2/home-gZQR.png"); 
}

.sml-carousel2-image-2 {
    @extend %sml-carousel-image;
    background-image: url("../images/sml-carousel-2/girl_guides_anglia_logo.png"); 
}

.sml-carousel2-image-3 {
    @extend %sml-carousel-image;
    background-image: url("../images/sml-carousel-2/howespercivallogo.png"); 
}

.sml-carousel2-image-4 {
    @extend %sml-carousel-image;
    background-image: url("../images/sml-carousel-2/searles_logo.jpg"); 
}

.sml-carousel2-image-5 {
    @extend %sml-carousel-image;
    background-image: url("../images/sml-carousel-2/beat_logo.png"); 
}

.sml-carousel2-image-6 {
    @extend %sml-carousel-image;
    background-image: url("../images/sml-carousel-2/sweetzy_logo.png"); 
}

.sml-carousel2-image-7 {
    @extend %sml-carousel-image;
    background-image: url("../images/sml-carousel-2/searles_logo.jpg"); 
}

.sml-carousel2-image-8 {
    @extend %sml-carousel-image;    
    background-image: url("../images/sml-carousel-2/girls_day_school_trust_logob.png"); 
}