
/**************************************************************************************/
/*  clients carousel                                                                  */
/**************************************************************************************/
%sml-client-carousel-image {  
    height: 8rem; 
    min-width: 2rem;  
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    background-size: 8rem;
    background-blend-mode: luminosity; 
}

.clients-carousel-image-1 {
    @extend %sml-client-carousel-image;
    background-size: 6rem;
    background-image: url("../images/clients-carousel/01_black_swan_logo.png"); 
}

.clients-carousel-image-2 {
    @extend %sml-client-carousel-image;
    background-size: 13rem;
    background-image: url("../images/clients-carousel/02_xupes_logo.png"); 
}

.clients-carousel-image-3 {
    @extend %sml-client-carousel-image;
    background-size: 4rem;
    background-image: url("../images/clients-carousel/03_beat_logo.png"); 
}

.clients-carousel-image-4 {
    @extend %sml-client-carousel-image;
    background-size: 14rem;
    padding: 0 2rem;
    background-image: url("../images/clients-carousel/04_survey_solutions_logo.png"); 
}

.clients-carousel-image-5 {
    @extend %sml-client-carousel-image;
    background-size: 8rem;
    background-image: url("../images/clients-carousel/05_girl_guides_anglia_logo.png"); 
}

.clients-carousel-image-6 {
    @extend %sml-client-carousel-image;
    background-size: 13rem;
    padding: 0 2rem;
    background-image: url("../images/clients-carousel/06_sweetzy_logo.png"); 
}

.clients-carousel-image-7 {
    @extend %sml-client-carousel-image;
    background-size: 12rem;
    padding: 0 2rem;
    background-image: url("../images/clients-carousel/07_howespercivallogo.png"); 
}

.clients-carousel-image-8 {
    @extend %sml-client-carousel-image;  
    background-size: 12rem;  
    padding: 0 2rem;
    background-image: url("../images/clients-carousel/08_girls_day_school_trust_logob.png"); 
}

.clients-carousel-image-9 {
    @extend %sml-client-carousel-image;    
    background-size: 13rem;
    background-image: url("../images/clients-carousel/09_ashcroftlogo.png"); 
}

.clients-carousel-image-10 {
    @extend %sml-client-carousel-image;    
    background-size: 3rem;
    background-image: url("../images/clients-carousel/10_onetravellerlogo_white_figuire.png"); 
}

.clients-carousel-image-11 {
    @extend %sml-client-carousel-image;    
    background-image: url("../images/clients-carousel/11_searles_logo.png"); 
}

.clients-carousel-image-12 {
    @extend %sml-client-carousel-image;    
    background-image: url("../images/clients-carousel/11_busseys.png"); 
}

.clients-carousel-image-11 {
    @extend %sml-client-carousel-image;  
    background-size: 12rem;  
    background-image: url("../images/clients-carousel/13_crane_logo.png"); 
}

// .clients-carousel-outer {
//     position: relative;
//   //  overflow-x: hidden;
//     // overflow-y: auto;
// } 

.clients-carousel-tooltips {
    width: 100%;
    height: 3rem;
    position: relative;
}

.clients-carousel {
    display: flex;  
    margin-top: 4rem;
    height: 10.5rem;
    width: 100%;   
    background-color: transparent;
    overflow-x: hidden;
    // overflow-y: visible;
}

// .clients-carousel-item {
//     position: relative;
   
// }

$tooltipWidth: 17.5rem;



.tooltip-wrapper {     
    display: none;
 //  overflow: auto !important;
    top: -1rem; 
    left: 0;   
}   

.tooltip-active {
    display: block;
    position: absolute;
    
    width: $tooltipWidth;
}

.tooltip {
    width: $tooltipWidth;
    height: 5rem;
    background-color: black;
    color: #fff;
    padding: 1rem;
    position: relative;
    margin-left: 0.5rem;   
  
   
}

.tooltip:after {
    content: " ";
    position: absolute;
    right: calc(($tooltipWidth - 5rem) / 2);
    bottom: -2.5rem;
    border-top: 2.5rem solid black;
    border-right: 2.5rem solid transparent;
    border-left: 2.5rem solid transparent;
    border-bottom: none;
  }

  