
/**************************************************************************************/
/*  clients carousel                                                                  */
/**************************************************************************************/
%sml-client-carousel-image {  
    height: 8rem; 
    min-width: 2rem;  
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    background-size: 8rem;
    background-blend-mode: luminosity; 
}

.clients-carousel-image-1 {
    @extend %sml-client-carousel-image;
    background-size: 6rem;
    background-image: url("../images/clients-carousel/01_black_swan_logo.png"); 
}

.clients-carousel-image-2 {
    @extend %sml-client-carousel-image;
    background-size: 11rem;
    background-image: url("../images/clients-carousel/02_xupes_logo.png"); 
}

.clients-carousel-image-3 {
    @extend %sml-client-carousel-image;
    background-size: 4rem;
    background-image: url("../images/clients-carousel/03_beat_logo.png"); 
}

.clients-carousel-image-4 {
    @extend %sml-client-carousel-image;
    background-size: 14rem;
  
    background-image: url("../images/clients-carousel/04_survey_solutions_logo.png"); 
}

.clients-carousel-image-5 {
    @extend %sml-client-carousel-image;
    background-size: 8rem;
    background-image: url("../images/clients-carousel/05_girl_guides_anglia_logo.png"); 
}

.clients-carousel-image-6 {
    @extend %sml-client-carousel-image;
    background-size: 11rem;   
    background-image: url("../images/clients-carousel/06_sweetzy_logo.png"); 
}

.clients-carousel-image-7 {
    @extend %sml-client-carousel-image;
    background-size: 10rem;  
    background-image: url("../images/clients-carousel/07_howespercivallogo.png"); 
}

.clients-carousel-image-8 {
    @extend %sml-client-carousel-image;  
    background-size: 10rem;  
    background-image: url("../images/clients-carousel/08_girls_day_school_trust_logob.png"); 
}

.clients-carousel-image-9 {
    @extend %sml-client-carousel-image;    
    background-size: 13rem;
    background-image: url("../images/clients-carousel/09_ashcroftlogo.png"); 
}

.clients-carousel-image-10 {
    @extend %sml-client-carousel-image;    
    background-size: 3rem;
    background-image: url("../images/clients-carousel/10_onetravellerlogo_white_figuire.png"); 
}

.clients-carousel-image-11 {
    @extend %sml-client-carousel-image;    
    background-size: 11rem;
    background-image: url("../images/clients-carousel/11_searles_logo.jpg"); 
}

.clients-carousel-image-12 {
    @extend %sml-client-carousel-image;   
    background-size: 11rem;
    background-image: url("../images/clients-carousel/12_busseys.png"); 
}

.clients-carousel-image-13 {
    @extend %sml-client-carousel-image;  
    background-size: 10rem;  
    background-image: url("../images/clients-carousel/13_crane_logo.png"); 
}

.clients-carousel-tooltips {
    width: 100%;
    position: relative;
}

.clients-carousel {
    display: flex;  
    margin-top: 2rem;
    height: 8rem;
    width: 100%;   
    background-color: transparent;
    overflow-x: hidden;  
}

$tooltipWidth: 17.5rem;

.tooltip-wrapper {     
  
    display: none; 
    bottom: 0;  
    left: 0;   
}   

.tooltip-active {
    display: block;
    position: absolute;
    
    width: $tooltipWidth;
}

.tooltip {
    width: $tooltipWidth; 
    background-color: #333645;
    color: #fff;
    padding: 1rem;
    position: relative;   
    text-align: center;
}

.tooltip:after {
    content: " ";
    position: absolute;
    right: calc(($tooltipWidth - 4rem) / 2);
    bottom: -2rem;
    border-top: 2rem solid #333645;
    border-right: 2rem solid transparent;
    border-left: 2rem solid transparent;
    border-bottom: none;
  }

  .tooltip a {
    height: 2.5rem;
    width: auto;
    display: block;    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .tooltip h3 {
    font-size: 18px;
    letter-spacing: 0.4px;
    line-height: 19.8px;
    font-weight: 400;
  }

  .tooltip p {
    font-size: 13px;
    letter-spacing: 0.4px;
    line-height: 22px;
    margin-top: 1rem;  
  }  
