.content {   
   
    width: 100%;
    max-width: 75rem;   
    margin: 0 auto;
  
    
    @include sm {
        .content {
            padding: 2rem;
        }
    }

    @include xl {
        .content {
            padding: 2rem 0;
        }       
    }
}

