.contact-form {
    background-color:  map-get($map: $colors, $key: 'light-grey');
    padding: 2.5rem 1rem;
    width: 100%;
    color: #515459;
  
    @include md {
        padding: 2.5rem;
    }

    @include lg {
        padding: 2.5rem 7rem 2.5rem 7.25rem;
    }

    @include xl {
        padding: 2.5rem 0 2.5rem 0;
    }   



    h3 {
        font-size: 2rem;
        font-weight: 400;
        letter-spacing: $std-letter-spacing;
    }
}

.form-control {
    padding : 1rem 0.275rem;
}

.form-control.checkbox-container {
    padding: 0 0.275rem 2.1rem;

    label span {
        font-weight: 600;
        line-height: 2rem;
        letter-spacing: $std-letter-spacing;
        font-size: 1rem;
    }
}

.text-input {
    label, input {
        display: block;
        width: 10rem;
    }
    label {
        margin-bottom: 0.25rem;
    }
    input {
        height: 2.9rem;
        width: 100%;
        border: none;
    }
    span {
        color: red;
        font-weight: bold;
    }
}

.contact-form-data {
    display: flex;
    flex-direction: column;

    @include lg {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 4rem;

        .text-input {    
            width: calc((100% - 4rem) / 2);
        }
        
    }

    label { 
        font-weight: 600;
        letter-spacing: $std-letter-spacing;
    }

    @include custom-checkbox;
}



.contact-form-submit {
    min-width: 100%;

    button {
        background-color: #333645;
        color: white;      
        height: 2.9rem;
        width: 7.5rem;
        font-size: 1.025rem;
        font-weight: 700;
        text-transform: uppercase;
        border: none;
        border-radius: 0.25rem;
    }
}



