footer {
    color: white;
    background-color: map-get($map: $colors, $key: 'dark-bg');
   
}  

.footer-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);   
    padding: 0.5rem 1rem 2rem 1rem;
}

.footer-grid-item {
    @include small-text;  
    grid-column: span 6;  

    h4 {
        padding: 1rem 0 0.5rem ;
    }

    h5 {
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: $std-letter-spacing;
    }

    .img-container img {
        max-width: 15rem;
        max-height: auto;
    }

    @include md {
        &:first-child {
            grid-column: span 6;
          
        }
        &:nth-child(n+2) {
          
            grid-column: span 3;
        }
    }

    @include lg {
        &:first-child {
            grid-column: span 2;
          
        }
        &:nth-child(n+2) {          
            grid-column: span 1;
            padding-top: 1.25rem;
        }    
    }
}

.footer-grid-item:first-child {
    padding: 2rem 0;
}

.img-container img {
    max-width: 18rem;
    height: auto;
    margin-bottom : 1.25rem;
}

.follow i {
    display: inline-block;
    height: 2rem;
    width: 3.5rem; 
}

 .footer-icon-block {
    margin-top: 1.3rem;
  //  background-color: green;
  
    display: grid;
    grid-template-columns: 5.5rem 5.5rem;;
    grid-auto-rows: 3.375rem;
    grid-gap: 0.5rem;

    @include sm {
        grid-template-columns: repeat(4, 3.9rem);
        grid-template-rows: 3.4rem;
    }

    i {
        display: block;
        padding: 1.5rem 3.5rem 1.9rem 2rem;  
        font-size: 1.4rem;       
        background-color:rgb(33, 35, 48);

        @include sm {
            padding: 1.8rem 2.5rem 1.8rem 1.40rem;
        }

    }
}

.copyright-div {
    background-color: black;
    padding: 1rem 1rem;   

    p:nth-child(3) {
        display: none;
    }
    

    .copyright-text {
     
        display: flex;
        flex-direction: column;
        font-size: 0.75rem;

        @include xs {
            @include small-text;
        } 
        
        @include sm {
            flex-direction: row;         

            p {
                padding-right: 0.5rem;
    
            }

            p:nth-child(3) {
                display: block;
            }
        }       
    }
}