footer {
    color: white;
    background-color: map-get($map: $colors, $key: 'dark-bg');
   
}   
.footer-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);   
    padding: 1rem 1rem;
}


.footer-grid-item {
    @include small-text;  
    grid-column: span 6;  

    h4 {
        padding: 1rem 0 0.5rem ;
    }

    .img-container img {
        max-width: 80%;
        max-height: auto;
    }

    @include md {
        &:first-child {
            grid-column: span 6;
          
        }
        &:nth-child(n+2) {
          
            grid-column: span 3;
        }
    }

    @include lg {
        &:first-child {
            grid-column: span 2;
          
        }
        &:nth-child(n+2) {          
            grid-column: span 1;
            padding-top: 1.25rem;
        }    
    }
}

.footer-grid-item:first-child {
    padding: 2rem 0;
}



.img-container img {
    max-width: 18rem;
    height: auto;
    margin-bottom : 1.25rem;
}

.follow i {
    display: inline-block;
    height: 2rem;
    width: 3.5rem; 
}

.icon-block {
    margin-top: 2rem;

    i {
        display: inline-block;
        padding: 1.5rem 1rem;
        margin-left: 0.75rem;
        background-color: black;
    }
}

.copyright-div {
    background-color: black;
    padding: 0.5rem 1rem;   

    p:nth-child(3) {
        display: none;
    }
    

    .copyright-text {
     
        display: flex;
        flex-direction: column;
        font-size: 0.75rem;

        @include xs {
            @include small-text;
        } 
        
        @include sm {
            flex-direction: row;         

            p {
                padding-right: 0.5rem;
    
            }

            p:nth-child(3) {
                display: block;
            }
        }       
    }
}