.hamburger-menu-button {
    display: flex;  
    flex-wrap: wrap;
    width: 4rem;  
    background:  #22242E;
    justify-content: center;
    align-items: center; 
    border: none;
    cursor: pointer;
    transition: transform 300ms ease;   
     
}


.hamburger-menu-button > span {
    background: white;
    height: 0.3rem;
    min-width: 2rem;
   

    border-radius: 4px;
    transition: transform 300ms ease;
}


.hamburger-menu-expanded .hamburger-line-1 {
    transform: translateY(15px) rotate(45deg);
}

.hamburger-menu-expanded .hamburger-line-2 {
    width: 0;
    opacity:0;
}
.hamburger-menu-expanded .hamburger-line-3 {
    transform: translateY(-12px) rotate(-45deg); 
}
