.hamburger-menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background:  #22242E; 
    width: 4rem;
    cursor: pointer;
}

.hamburger-menu {
    background:  #22242E;
    height:40px;
    width: 48px;
    position: relative;
    cursor: pointer;
    padding:0.1rem;
}

.ham-bar {
    width: 33px;
    height: 4px;
    background-color: white; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform .6s, opacity .8s, top .6s;
}

.bar-top {
    top: 25%;    
}

.bar-bottom {
    top: 75%;
}

.hamburger-menu.expanded .bar-top {
    transform: translate(-50%, -50%) rotate(-315deg);
    top: 50%;
}

.hamburger-menu.expanded .bar-mid {
    opacity: 0;
}

.hamburger-menu.expanded .bar-bottom {
    transform: translate(-50%, -50%) rotate(-225deg);
    top: 50%;
}
