$main-nav-item-width: 0px;

nav {
    background-color: map-get($map: $colors, $key: 'dark-bg' );
    height: 6.1rem;  
    width: 100%;    
    display: none;

    @include lg {
        display: block;
    }
}



.main-nav {
  
    display: grid;
    color: white;
    grid-template-columns: repeat(7, 10rem);
    grid-auto-rows: 6.1rem;
    height: 100%;

    
}

.nav-service-group { 
  //  background-color: darken(map-get($colors, bespoke-software), 15%);
    background-color: red;

 
  
}

.main-nav-item-heading {
    background-color:  darken(map-get($colors, bespoke-software), 15%);
    max-height: 7rem; 
    margin-top: 2rem;
    font-size: 1.75rem;
    font-weight: 500;
    padding-top: 2rem;

    p {
        position: relative;
        top: 1rem;       
    }
    
}


.main-nav-item {
    display: block;   
    text-align: center;   
    text-transform: uppercase;    
    padding-top: 1rem;  
  
    min-width: 0;
    min-height: 0;

    position: relative;
}



.main-nav-item .arrow {
    position: absolute;
    z-index: -1;
    background-color:  darken(map-get($colors, bespoke-software), 15%);
 
    .triangle {
        width: 0;
        height: 0;
        border-left: 5rem solid transparent;  /* width of triangle */
        border-right: 5rem solid transparent;
        border-top: 2rem solid map-get($colors, bespoke-software);    /* height of triangle */
    }
}


.main-nav-item:hover {
     background-color: map-get($colors, bespoke-software);

     i {
        color: white;
     }

    .arrow {
        z-index: 2;
    }

    .main-nav-item-summary {
      
        z-index: 1;
    }
}

.main-nav-item-summary {
    position: fixed;
    top:13.1rem;
    left: 0;
    width: 100%;
    background-color: cyan;
    height: 20rem;
    z-index: -1;
    text-transform:none;
   
}




// .main-nav-item:nth-child(even) {
//     background-color: darkblue;
// }

// .main-nav-item:nth-child(odd) {
//     background-color: darkgreen;
// }

.nav-title span:first-child {
    display: block;
    padding-top: 0.5rem;
    font-size: 0.65rem;       
    line-height: 14px;
    font-weight: 500;
  
}

.nav-title span:last-child {
    display: block;
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 0.6px;    
  
}  

.main-nav-item-summary {
    text-align: left;

    .nav-service-group {
        display: flex;
        flex-wrap: wrap;   

        li {
            display: block;
            height: 2rem;
            width: 20rem;
        }
    }
}



