@mixin header-btn {
    
    display: flex;
    align-items: center;
    justify-content: center;
  
    width: 8.85rem;
    height: 3.5rem;

    font-size: 18px;
    letter-spacing: 0.4px;
   
    color: white;
    border-radius: 5px;
}


.header {
    display: grid;
    grid-template-columns: 1fr 1.5rem 4rem;
    grid-template-rows: 3.2rem 4rem;
    padding: 1.4rem 1rem 0.25rem 0.5rem;
    gap: 1rem;
    row-gap: 1.4rem; 
  
    grid-template-areas:
       "logo phone menu"
       "search search search ";

    @include md {  
        grid-template-columns: 1fr 14.875rem 4.75rem;
        grid-template-rows: 3.4rem;
        grid-template-areas: "logo search menu";    
        padding: 1.75rem 2rem 1.75rem 2.5rem;    
    }

    @include lg {
       padding: 2rem 2.5rem 2rem 2.5rem; 
       grid-template-columns: 6fr repeat(4, auto);
       grid-template-areas: "logo support contact search menu";        
    }

    @include xl {
        padding: 2rem 0 2rem 0;
    }
}

.logo {
    grid-area: logo;
    height: auto;

    margin-top: -0.5rem;

    @include md {
        margin-top: -0.3rem;
        padding-right: 2.5rem;
    }

    @include lg {
         margin-top: -0.5rem;
    } 

    @include xl {
        margin-top: -0.45rem;
    }

    img {
        padding-top: 1rem;
        max-width: 8rem;
        height: auto;

        @include xs {
            max-width: 15rem;
        }


        @include sm {
            padding-top: 0;
            max-width: 20rem;
        }

        @include lg {
            max-width: 23rem;
        }
    }
}

.support-btn {
    grid-area: support;
    align-self: start;  
    display: none;

    @include lg {
        @include header-btn;
        background-color: map-get($colors, it-support);
        letter-spacing: 0.8px;
    }
}

.contact-btn {
    grid-area: contact;
    align-self: start;
    display: none;
    background-color: map-get($colors, mid-grey);

    @include lg {
        @include header-btn;
    }
}

.phone-icon {
    grid-area: phone;
    padding-top: 1.1rem;    
    color: #333645;
   
    @include md {
        display: none;       
    }
}

.menu-icon {
    grid-area: menu;
    background-color: #22242E;
    color: white;  
    width: 4rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    border-radius: 0.25rem;
    @include md {
        max-width: 4rem;
        max-height: 3.75rem;
    }
} 

.search {
    grid-area: search; 
    align-self: start;
    display: flex;
    height: 3rem;

    border: 2px solid #ccc;
    border-radius: 2px;

    @include md {
        height: 3.5rem;
        border: none;
    }   
 
   .search-term {
        flex: 1;   
        border-radius: 2px 0 0 2px;
        padding: 15px;
        font-size: 0.95rem;
        font-stretch: 100%;
        color: #555;
   
        transition: border-color 0.15s ease-in-out,
                    box-shadow 0.15s ease-in-out;
        
        @include md {
            background-color: white;
            border: 1px solid #ccc;            
            border-radius: 0;
            width: 10.875rem;

            &:focus {
                border-color: #5bc0de;
                outline: 0;
                box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(91,192,222,.6);
            }

        }


        @include lg {
            display: none;
        }

        @include xl {
            display: block;
            width: 15rem;
        }
    }

    .search-term {
       transition: border-color 0.15s ease-in-out,
       box-shadow 0.15s ease-in-out;
    
    }

    .search-term:focus {
        border-color: #5bc0de;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(91,192,222,.6);
    }
    
    .search-btn {
        width: 3rem;   
        border-radius: 0 2px 2px 0; 

        @include md {
            color: white;
            background-color:  map-get($map: $colors, $key: 'mid-grey'); 
            width: 4rem;
            font-size: 1.1rem;
            border-radius: 0 3px 3px 0;            
        }

        @include lg {
            border-radius: 3px;            
        }

        @include xl {
            border-radius: 0 3px 3px 0;   
        }
    }
}

.search-btn, .search-term {
    border: none;
    background-color: map-get($map: $colors, $key: 'light-grey');
}

