.header {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 3rem 3rem;
    padding: 1.25rem 1.25rem 2rem;
  
    grid-template-areas:
       "logo logo logo logo phone menu"
       "search search search search search search";

    @include md {
  //      background-color: lightblue;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 3rem;
        grid-template-areas: "logo logo logo logo logo  . search search search search . menu";
    }
}

.logo {
    grid-area: logo;
  //  width: 8rem;
    height: auto;
  //  background-color: blue;

    img {
        max-width: 17rem;
        height: auto;
    }
}

.support-btn {
    grid-area: support;
    display: none;
}

.contact-btn {
    grid-area: contact;
    display: none;
}

.phone-icon {
    grid-area: phone;
   
    @include md {
        display: none;
       
    }
}

.menu-icon {
    grid-area: menu;
    background-color: black;
    color: white;  
} 

.search {
    background-color: pink;
    grid-area: search;
 
    display: flex;
    height: 2.5rem;

    @include sm {
        height: 3rem;
    }
   
 
   .search-term {
        flex: 1;    
        
        @include md {
            background-color: white;
            border: 1px solid map-get($map: $colors, $key: 'mid-grey');
        }
    }
    
    .search-btn {
        width: 3rem;
        margin-left: -2rem;

        @include md {
            color: white;
            background-color:  map-get($map: $colors, $key: 'mid-grey'); 
        }
    }
}

.search-btn, .search-term {
    border: none;
    background-color: map-get($map: $colors, $key: 'light-grey');
}

// .logo {
//     grid-column: span 10;
//     grid-row: 1 / 1;

//     width: 8rem;
//     height: auto;

//     @include sm {
//         width: 17rem;
//         height: auto;      

//         grid-column: span 6;
//     }
// }

// .header-icon {          
//     padding: 0.5rem;  
//     grid-column: span 1;     
// }

// .phone-icon {    
//     padding: 0.5rem;            
//     margin-left: auto;
//     grid-column: span 1;   
// }

// .menu-icon {
//     background-color: black;
//     color: white;
//     margin-left: 1rem;  
//     grid-column: span 1;   
// }

// .search {
//     grid-column: 1 / 12;
//     grid-row: 2 / 2;

//     display: flex;
//     height: 2.5rem;
  
//     margin-top: 2rem;
   
    
//     &__term {
//        flex: 1;           
//     }

//     &__btn {
//         width: 3rem;
//         margin-left: -2rem;
//     }

//     &__btn, &__term {
//         border: none;
//         background-color: map-get($map: $colors, $key: 'light-grey');
//     }

//     @include sm {   
//         grid-column: span 4;

//     }
// }



// img {
//     width: 100%;
// }

// .header {
//     display: flex;
//     flex-wrap: wrap;
//     align-items: center; 
//     padding: 1.5rem 0.5rem;
  
    
//     &__icon {         
//         padding: 0.5rem;       
//     }

//     &__icon:first-of-type {     
//         margin-left: auto;
//     }

//     &__icon:last-of-type {
//         background-color: black;
//         color: white;
//         margin-left: 1rem;
//     }
// }
