// mixin to get correct color for service background on dropdown menu
@mixin color-dropdown($service) {

    .nav-service-group { 
        background-color: darken(map-get($colors, $service), 15%);  
    }

    .main-nav-item-heading {
        background-color:  darken(map-get($colors, $service), 15%);            
    }

    .arrow {  
        background-color:  darken(map-get($colors, $service), 15%); 
    }

    .main-nav-item-summary {  
        background-color:  darken(map-get($colors, $service), 15%);           
    }

}

// css triangle for arrow on menu that forms part of css transition on hover
@mixin triangle($service) {  
    width: 0;
    height: 0;

    border-left: 4rem solid transparent;  /* width of triangle */
    border-right: 4rem solid transparent;  
    border-top: 1.5rem solid map-get($colors, $service);    /* height of triangle */     

    @include xl {
        border-left: 5rem solid transparent;  /* width of triangle */
        border-right: 5rem solid transparent;  
        border-top: 1.5rem solid map-get($colors, $service);    /* height of triangle */    

    }    
}  

nav {
    background-color: map-get($map: $colors, $key: 'dark-bg' );
    height: 6.1rem;  
    width: 100%;    
    display: none;

    @include lg {
        display: block;
    }
}

/************************************************************************************/
// grid for main (non-dropdown) part of nav                                         */
/************************************************************************************/
.main-nav {

    display: grid;
    color: white;
    grid-template-columns: repeat(7, 8rem);
    grid-auto-rows: 6.1rem; 
    max-width: 60rem; 
    padding:0rem calc((100% - 56rem) / 2);
    @include xl {
        grid-template-columns: repeat(7, 10rem);
        padding:0 2rem;      
    }    

    text-align: center;
}

.main-nav-item {
    padding-top: 0.75rem;
}


.header-nav-icon-wrapper {
    padding-top:0.5rem;
    height: 2rem;
    width: 100%;
}

.nav-title span {
    text-transform: uppercase;
    line-height: 1rem;
}


.nav-title span:first-child {
    display: block;
    padding-top: 0.25rem;
    font-size: 0.65rem;     
    font-weight: 500;
  
}

.nav-title span:last-child {
    display: block;
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 0.6px;    
    padding: 0;  
}  

/*********************************************************************************************/
/*  main css classes for dropdown                                                            */   
/*********************************************************************************************/                                                                     

.main-nav-item-heading { 
    max-height: 7rem; 
    margin-top: 2rem;   
    font-size: 1.75rem;
    font-weight: 500;
    padding-top: 2rem;
    padding-bottom: 1.75rem;
}

.main-nav-item-summary {
    text-align: left; 
}

.main-nav-item-summary {
    position: fixed;
    top: -40rem;
    left: 0;
    width: 100%;
    z-index: -1;
    text-transform:none;   
}

.main-nav-item:hover {
   
    i {
        color: white;
     }

    .arrow {
        top: 0.33rem;
        z-index: 2;
    }

    .main-nav-item-summary {
      
        z-index: 1;
        top:13.1rem;
    }
}


.nav-service-group {   
   
    ul {
        margin-top: -2.5rem;    
        display: flex;
        flex-wrap: wrap;   
        font-size: 1.15rem;

        li {
            display: block;
            height: 3rem;
            width: 22rem;

            i {
                display: inline-block;
                width: 1.5rem;
            }
        }
    }
}

.main-nav-lg-dropdown {
    display: block;   
    text-align: center;      
    padding-top: 1rem;    
    min-width: 0;
    min-height: 0;
    position: relative;
}

// disable scroll when dropdown menu is in use
.scroll-disabled {
    position: fixed;
    width: 100%;
    overflow-y: scroll;
}



/*************************************************************************************/
/*  triangle for arrow                                                               */
/*************************************************************************************/

.main-nav-lg-dropdown .arrow {
    position: absolute;
    z-index: -1;   

    .mnld-triangle-bespoke {
        @include triangle("bespoke-software");
    }

    .mnld-triangle-it-support {
        @include triangle("it-support");
    }
    
    .mnld-triangle-marketing {
        @include triangle("marketing");
    }
    
    .mnld-triangle-telecoms {
        @include triangle("telecoms");
    }
       
    .mnld-triangle-web-design {
        @include triangle("web-design");
    }
           
    .mnld-triangle-cyber-security {
        @include triangle("cyber-security");
    }
          
    .mnld-triangle-dev-training {
        @include triangle("dev-training");
    }
}


/***************************************************************************************/
/* Color organization for dropdown menus                                               */
/***************************************************************************************/

.mnld-bespoke {
    @include color-dropdown(bespoke-software);
}
.main-nav-item.mnld-bespoke:hover {
    background-color: map-get($colors, bespoke-software); 
}

.mnld-it-support {
    @include color-dropdown(it-support);
}
.main-nav-item.mnld-it-support:hover {
    background-color: map-get($colors, it-support); 
}

.mnld-marketing {
    @include color-dropdown(marketing);
}
.main-nav-item.mnld-marketing:hover {
    background-color: map-get($colors, marketing);   
}

.mnld-telecoms {
    @include color-dropdown(telecoms);
}
.main-nav-item.mnld-telecoms:hover {
    background-color: map-get($colors, telecoms);   
}

.mnld-web-design {
    @include color-dropdown(web-design);
}
.main-nav-item.mnld-web-design:hover {
    background-color: map-get($colors, web-design);   
}

.mnld-cyber-security {
    @include color-dropdown(cyber-security);
}
.main-nav-item.mnld-cyber-security:hover {
    background-color: map-get($colors, cyber-security);   
}

.mnld-dev-training {
    @include color-dropdown(dev-training);
}
.main-nav-item.mnld-dev-training:hover {
    background-color: map-get($colors, dev-training);   
}