@mixin business-area ($type) {
    &:first-child {
        h4 {
            color: map-get($colors, $type);    
        }

        button {
            background-color: map-get($colors,$type);   
        }
    }   
}

$md-card-height: 36.5rem;
$md-card-area-height: 40rem;

.latest-news-heading {
    display: flex;
    justify-content: space-between;  
    margin: 2.5rem 1rem 1.5rem;
    
    
    @include md {
        margin: 2.5rem 4rem 1.5rem;
    }
 
    @include lg {
        margin: 2.5rem 8rem 1.5rem;
        
    }  

    @include xl {
        margin: 2.5rem 0 1.5rem;
    }
    h2 {
        font-size: 2.25rem;
        margin-top: 0.65rem;   
        font-weight: 600;
        letter-spacing: .01rem;
        color: #333645;

    }
 
    a {
        font-weight: 600;
        font-size: 1.625rem;
        letter-spacing: 1px;
        padding-top: 1rem;
        padding-right: 1rem;
       
        display: none;

        @include md {
            display: block;
        }
    }   
} 

.latest-cards {  
 
    display:grid;
    gap: 2rem;    
    padding: 1rem;
    
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;    

    @include md { 
        grid-template-rows: $md-card-height;
        // max-height: $md-card-area-height;  
        // overflow: hidden;   
        padding: 1rem 4rem;

        & > *:nth-child(n+3) {
            display: none;
            background-color: yellow;
        }
    
    }    
    
    @include lg {     

       
        padding: 1rem 8rem;
    }

    @include xl {

        & > *:nth-child(n+3) {
            display: block;
        }        

        padding: 1rem 0;
    }
} 

.latest-card {
 
    box-shadow: 0px 3px 40px 0px rgba(0, 0, 0, 0.1); 
    border: 1px solid #ccc;
  
    & > *:not(:first-child) {
       padding: 0.5rem 1.85rem;
    }     
  
   
    grid-column: span 6;
     
    img {
        width: 100%;
        height: auto;
    }

    @include md {
        grid-column: span 3;    
    }
   
    @include xl {
        grid-column: span 2;       
    } 

    &:first-child {
        h4 {
            color: map-get($colors, marketing);    
        }

        button {
            background-color: map-get($colors, marketing);   
        }

    }


    &:nth-child(2) {
        h4 {
            color: map-get($colors, marketing);
        }

        button {
            background-color: map-get($colors, marketing);
        }
    }

    
    &:last-child {
        h4 {
            color: map-get($colors, web-design);
        }

        button {
            background-color: map-get($colors, web-design);
        }
    }

    h4 {
        font-weight: 600;
        font-size: 16px;
    }

    p {
        font-size: 13px;
        letter-spacing: 0.4px;
        line-height: 22px;
        color: rgb(102, 102, 102);
    }



    .latest-read-more {
        justify-self: flex-start;
        margin: 1.4rem 1.85rem;
        padding-left: 1rem;
        padding-right: 1rem;
        max-width: 29rem;
        height: 2.938rem;
        border-radius: 0.25rem;
        color: white;
        border: none;    
        font-size: 17.008px;
        font-weight: 400;
        letter-spacing: 0.4px;
        line-height: 35px;
    }

    .img-wrapper {
        position: relative;
        
    }

    .badge {
        position: absolute;      
        color: white;   
        font-weight: 600;  
        top: 0.625rem;
        padding: 0 0.625rem;
        right: 0;
        text-transform: uppercase;
    }

    .badge.badge1 { background-color:  map-get($colors, marketing) }
    .badge.badge2 { background-color:  map-get($colors, marketing) }
    .badge.badge3 { background-color:  map-get($colors, web-design) }


    .avatar {
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
    }

    .posted-by {  
        display: flex;
        border-top: 1px solid rgb(204, 204, 204);
        padding: 1.75rem 0 1.75rem 0;
        margin: 0.6rem 1.85rem 0 1.85rem;
 
        div {
             padding-left: 1rem;

            .post-author, .post-date {
                font-size: 14px;              
                letter-spacing: $std-letter-spacing;
                line-height: 22px;
            }

            .post-author {
                font-weight: 600;
            }
        }
    }   
}

.latest-card {
    transition: transform 0.5s ease;  
}

.latest-card:hover {
    transform: translateY(-10px);
    cursor: pointer;
}

