@mixin business-area ($type) {
    &:first-child {
        h4 {
            color: map-get($colors, $type);    
        }

        button {
            background-color: map-get($colors,$type);   
        }
    }   
}

$med-card-height: 36rem;
$med-card-area-height: 38rem;
$lg-card-height: 36rem;


.latest-news h2 {
    margin-top: 2rem;  
}

.latest-cards {
    display:grid;
    gap: 2rem;
    padding: 0 1rem;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;    

    @include md { 
        grid-template-rows: $med-card-height 0 0 0 0;
        max-height: $med-card-area-height; 
        overflow: hidden;   
    }       
} 

.latest-card {
    @include small-text;
    overflow: visible;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    & > *:not(:first-child) {
       padding:  1rem;
    }   
   
    grid-column: span 6;
     
    img {
        width: 100%;
        height: auto;
    }


    @include md {
        grid-column: span 3;
    
    }

   
    @include lg {
        grid-column: span 2;
       
    } 

    &:first-child {
        h4 {
            color: map-get($colors, marketing);    
        }

        button {
            background-color: map-get($colors, marketing);   
        }

    }


    &:nth-child(2) {
        h4 {
            color: map-get($colors, marketing);
        }

        button {
            background-color: map-get($colors, marketing);
        }
    }

    
    &:last-child {
        h4 {
            color: map-get($colors, web-design);
        }

        button {
            background-color: map-get($colors, web-design);
        }
    }

    h4 {
        font-weight: 600;
        font-size: 16px;
    }

    .latest-read-more {
        justify-self: flex-start;
        margin: 1.5rem 1rem;
        max-width: 8rem;
        height: 2.75rem;
        border-radius: 0.25rem;
        color: white;
        border: none;    
        font-weight: 600;
        letter-spacing: 0.4px;
    }

    .img-wrapper {
        position: relative;
        
    }

    .badge {
        position: absolute;      
        color: white;     
        top: 0.625rem;
        padding: 0 0.625rem;
        right: 0;
    }

    .badge.badge1 { background-color:  map-get($colors, marketing) }
    .badge.badge2 { background-color:  map-get($colors, marketing) }
    .badge.badge3 { background-color:  map-get($colors, web-design) }


    .avatar {
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
    }

    .posted-by {  
        border-top: 1px solid black;
        padding-top: 1rem;
        width: 100%;

        div {
            padding-left: 1rem;
        }
    }   
}
