

.welcome-group {
    background-color: black;
    color: white;
    padding: 2rem;



    h3, p {
        padding: 1.1rem 0;
      
    }

    .welcome-heading {
      
        letter-spacing: 3px;
    }


}

.stars {
    color: orange;
    padding-top: 0.5rem;
}

.review-text {
    font-style: italic;
}

.posted-by {
    display: flex;
}