.mobile-menu {
    position: fixed;
    width: 13rem;
    @include xs {
        width: 17.5rem;
    }

    @include sm {
        width: 21rem;
    }   
 
    top: 0;
    right: 0;
    bottom: 0;
    height: 100vh;  
    overflow-x: hidden;
    background-color: #262834; 
    color: white; 
    z-index: -998; 
    display: none;
    text-transform: uppercase; 
}

.mob-menu-small-screens {
    text-align: center;
    background-color: #333645;

    @include lg {
        display: none;
    }
}

.mob-menu-small-screens ul {
    background-color: #262834;
    width: 80%;
    margin: 3rem auto;   
   
    li {
      
        display: flex;
        justify-content: center;

    }
}



.mobile-menu h4 {
    padding:  1.25rem 0.75rem;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 0.4px;
    background-color: #3D404E;
}

.mobile-menu li {
    padding: 1rem 0.75rem;
    background-color: #262834;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    letter-spacing: 0.4px;
}

.mobile-menu li {
    display: flex;
    align-items: center;
}
.mobile-menu li i {
    font-size: 0.5rem;
}



