.mobile-menu {
    position: fixed;
    width: 21rem;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #262834; 
    color: white; 
    z-index: -999;
    text-transform: uppercase;
  //  padding: 1.25rem;
}

.mobile-menu h4 {
    padding:  1.25rem 0.75rem;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 0.4px;
    background-color: #3D404E;
}

.mobile-menu li {
    padding: 1rem 0.75rem;
    background-color: #262834;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    letter-spacing: 0.4px;
}

.mobile-menu li {
    display: flex;
    align-items: center;
}
.mobile-menu li i {
    font-size: 0.5rem;
}



