.welcome-group {
 
    background-color: map-get($map: $colors, $key: 'dark-bg' );
    color: white;
    padding: 3rem 1.5rem;
    p {
        padding: 1.1rem 0;
        letter-spacing: 0.4px;
        line-height: 30px;
    }
}

.welcome-heading {
    line-height: 39.6px;
}

.welcome-content {
    display: grid;
    grid-template-columns: 1fr;

    @include lg {
        grid-template-columns: 1fr 1fr;
    } 
    gap: 1rem;  
}

.btn-group {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;   
    margin-top: 0.25rem;
    margin-bottom: .25rem;
}



.welcome-content {

    a {         
        padding: 1rem 2rem;
        border-radius: 6px;
        text-transform: uppercase;
        font-size: 1.25rem;
        letter-spacing: 0.4px;
        font-weight: 400;
    }

    h2 {
        font-size: 36px;
        font-weight: 600;
        letter-spacing: 0.4px;
    }  
    
    .feedback-header {
        margin-top: 1.5rem;
        margin-bottom: 0.75rem;

        @include lg {
            margin-top: -0.5rem;
        }
    }
}


.google-btn, .trustpilot-btn {
    margin-top: 1.5rem;
}

.google-btn {
    background-color: map-get($colors, crayola-blue);  
}

.trustpilot-btn {
    background-color: map-get($colors, munsell-green);        
}



.choose-btn, .culture-btn {
    background-color: #272936;
  
}





.stars {
    color: orange;
    padding-top: 1.5rem;
    padding-bottom: 1.1rem;
    font-size: 1.75rem;
}

.review-text {
    font-style: italic;
    line-height: 1.875rem;
    letter-spacing: 0.025rem;
    font-weight: 600;
    font-size: 1.3rem;
}

.reviewer {
    span:first-child {
        color: #a3a8ac;
        font-size: 1.1rem;
        font-weight: 600;
        letter-spacing: 0.025rem;
        line-height: 1.875rem;
    }
    span:last-child {
        font-size: 1.1rem;
        font-weight: 600;
        letter-spacing: 0.025rem;
        line-height: 1.875rem;
    }
}
