.welcome-group {
 
    background-color: map-get($map: $colors, $key: 'dark-bg' );
    color: white;
    padding: 1.5rem 1.5rem;
    p {
        padding: 1.1rem 0;
        letter-spacing: 0.4px;
        line-height: 30px;
    }
}

.welcome-content {
    display: grid;
    grid-template-columns: 1fr;

    @include lg {
        grid-template-columns: 1fr 1fr;
    } 

    gap: 4rem;  
}

%welcome-article {
    display: grid;    
    grid-template-columns: 1fr;
    grid-template-rows: auto 6rem 6rem;
    grid-column-gap: 2rem;
 
    grid-template-areas:
        "a-content"
        "btn1"
        "btn2";   

    @include md {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "a-content a-content"
                             "btn1 btn2"; 
    }

    .article-content { grid-area: a-content; }  
    .btn1 { grid-area: btn1; }
    .btn2 { grid-area:  btn2; }
}

.article1 {
    @extend %welcome-article; 

    .choose-btn, .culture-btn {
        background-color: black;
        height: 3.75rem;
        display: flex;
        align-items: center;
        // max-width: 15rem;        
        // padding: 1rem;
    }
}

.article2 {
    @extend %welcome-article;

    .google-btn {
        background-color: map-get($colors, crayola-blue);
        // max-width: 15rem;        
        // padding: 1rem; 
    }

    .trustpilot-btn {
        background-color: map-get($colors, munsell-green);        
    }
}

.article {
    .btn1, .btn2 {
        min-height: 0; min-width: 0;
        padding: 2rem;
    }
      
}


.welcome-heading {     
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 1.8rem;   
}

.stars {
    color: orange;
    padding-top: 1.5rem;
}

.review-text {
    font-style: italic;
    line-height: 30px;
    letter-spacing: 0.4px;
    font-weight: 600;
    font-size: 1.3rem;
}

.posted-by {
    display: flex;
}