.card-icon-wrapper {
    max-height: 7rem;
    max-width: 7rem;
}

.card-icon {
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 4rem;
    width: 4rem;      
    color: white;
    border-radius: 50%;
}

