%card {
    @include small-text;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    background-color: white;   
    width: 18rem; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1rem 1rem;
    margin-top: 1rem;
}

.card-item {  
   width: 100%;  
   text-align: center;  
}

.service-card {
    @extend %card; 
    height: 20rem;
}  

.latest-card {
    @extend %card;
    height: 30rem;
}

.icon-wrapper {
    max-height: 7rem;
    max-width: 7rem;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 4rem;
    width: 4rem;      
    color: white;
    border-radius: 50%;
}

.avatar {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;

}