.cookies-consent {
    position: absolute;  
    width: 15rem;  
    top: 7.5rem;
    height:52rem;
    overflow-y: scroll;
    left: calc((100vw - 15rem) / 2);  
    color: rgb(51, 54, 69);
    background: white;
    display: flex;
    flex-direction: column;
    display: none;

    @include xs {
     
        width: 20rem;
        left: calc((100vw - 20rem) / 2);      
        height: 40rem;
        overflow-y: hidden;
    }  
    
    @include sm {
     
        width: 32rem;
        height: 26rem;
        left: calc((100vw - 32rem) / 2);  
    }

    @include md {
        position: fixed;
        width: 35rem;
        height: 24rem;
        left: calc((100vw - 35rem) / 2);
        top: calc((100vh - 24rem) / 2);
    }

}

.cookies-consent h3 {
    font-size: 1.625rem;
    font-weight: 400;
    padding: 1rem;
    border-bottom: 1px solid #e5e5e5; 
}

.cookies-consent p {
    color: rgb(102, 102, 102);
    border-bottom: 1px solid #e5e5e5;  
    padding: 1.5rem 1.5rem 2.75rem 1.5rem;
    line-height: 30px;
    letter-spacing: 0.4px;

    @include sm {
        padding: 1.15rem 1.5rem 1.25rem 1.5rem;
    }

    @include md {
        padding: 1.5rem 1.5rem 2.75rem 1.5rem;
    }

}

.cookies-consent .btn-group {
    display: contents;  

    @include sm {
        display: flex;  
        justify-content: center;
        gap: 2rem;
    }
}

.change-settings-btn, .accept-cookies-btn {
    width: 90%;   
    height: 3rem;
    margin-left: 5%;
    color: white;
    border: none;
    border-radius: 0.25rem;
    text-transform: uppercase;
    font-size: 17px;
    letter-spacing: 0.4px;
    line-height: 35px;
   

    @include sm {
        margin-left: 0;
        max-width: 42.5%;
    }

    &:hover {
        cursor: pointer;
    }
}

.change-settings-btn {
    background-color: map-get($colors, 'mid-grey');
    margin-top: 1.5rem;
    @include sm {
        margin-top: 1rem;
    }
}

.change-settings-btn:hover {
    background-color: darken(map-get($colors, 'mid-grey'), 10%);
}

.accept-cookies-btn {
    background-color: map-get($colors, 'web-design');
    margin-top: 0.65rem;
    @include sm {
        margin-top: 1rem;       
    }
}

.accept-cookies-btn:hover {
    background-color: darken(map-get($colors, 'web-design'), 10%);
}