.cookies-consent {
    position: absolute;  
    width: 15rem;  
    top: 7.5rem;
    height:52rem;
    overflow-y: scroll;
    left: calc((100vw - 15rem) / 2);
    z-index: -999;
    color: rgb(51, 54, 69);
    background: white;
    display: flex;
    flex-direction: column;

    @include xs {
        position: fixed;
        width: 20rem;
        left: calc((100vw - 20rem) / 2);   
        height: 40rem;
        overflow-y: hidden;
    }  
    
    @include md {
        width: 37.5rem;
        height: 25rem;
        left: calc((100vw - 37.5rem) / 2);
    }

}

.cookies-consent h3 {
    font-size: 1.625rem;
    font-weight: 400;
    padding: 1rem;
    border-bottom: 1px solid #e5e5e5; 
    top: calc((100vh - 40rem) / 2);
}

.cookies-consent p {
    color: rgb(102, 102, 102);
    border-bottom: 1px solid #e5e5e5;  
    padding: 1.5rem 1.5rem 2.75rem 1.5rem;
    line-height: 30px;
    letter-spacing: 0.4px;
}

.cookies-consent .btn-group {
    display: contents;

    @include md {
        display: flex;
        padding-left: 1rem;
        padding-right:1rem;
    }
}

.change-settings-btn, .accept-cookies-btn {
    width: 90%;
    height: 3rem;
    margin: 0 auto;
    color: white;
    border: none;
    border-radius: 0.25rem;
    text-transform: uppercase;
    font-size: 17px;
    letter-spacing: 0.4px;
    line-height: 35px;
   

    @include md {
        width: 45%;
    }
}

.change-settings-btn {
    background-color: map-get($colors, 'mid-grey');
    margin-top: 1.5rem;
    @include md {
        margin-top: 1rem;
    }
}

.change-settings-btn:hover {
    background-color: darken(map-get($colors, 'mid-grey'), 10%);
}

.accept-cookies-btn {
    background-color: map-get($colors, 'web-design');
    margin-top: 0.65rem;
    @include md {
        margin-top: 1rem;       
    }
}

.accept-cookies-btn:hover {
    background-color: darken(map-get($colors, 'web-design'), 10%);
}