.contact-page {
    @include lg {
        padding : 0 1.75rem;
    }

    @include xl {
        padding: 0.5rem;
    }
}

.page-indicator {
    display: none;

    @include md {  
        box-shadow: 0 5px 35px rgba(0,0,0,.1);
        display: block;
        padding: 1rem 0 1rem 3.5rem;
        font-size: 13px;
        letter-spacing: 0.4px;

        & a {
            font-weight: 700;
        }
    }   
}

.contact-page h1 {
    background-color: map-get($map: $colors, $key: 'dark-bg');  
    color: white;
    font-size: 2.25rem;
    font-weight: 400;
    padding: 1.5rem 1rem;
    letter-spacing: 0.4px;
    line-height: 39.6px;
    margin-bottom: 5.5rem;

    @include lg {
        background-color: white;
        padding-top: 2.75rem;
        font-size: 3rem;
        color: map-get($map: $colors, $key: 'dark-bg');  
    }
}



.contact-page .office-cards {
    padding: 0 1rem;
    @include lg {
        display: grid;  
        grid-template-columns: 1fr 1fr;  
        grid-gap: 2rem;    
    }
}

.contact-page .office-card {

    margin-bottom: 2rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 35px 0px;
    border-radius: 2rem;
    border: 1px solid #ccc;

    

    h4 {
        margin-top: 1.45rem;
        font-size: 1.2rem;
        font-weight: 400;
        letter-spacing: 0.4px;
        line-height: 22px;
        color: rgb(51, 54, 69);       
        margin-bottom: 0.75rem;       
    }  

    .office-card-text {
        padding: 0 1.75rem;
    }

    .address p {
        line-height: 22px;
        font-size: 13px;
        color: rgb(102, 102, 102);
        letter-spacing: 0.4px;
    }

    .phone {
        font-size: 26px;
        font-weight: 650;
        letter-spacing: 0.4px;
        color: map-get($colors, 'web-design');
        padding: 1rem 0;
    }

    img {
        border-radius: 2rem 2rem 0 0;
        width: 100%;
        height: auto;
    }
 
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 2.75rem;
        width: 7.75rem;
        max-width: 25rem;
        height: 2.75rem;
        border-radius: 0.25rem;
        color: white;
        background-color: map-get($colors, 'web-design' );
        font-weight: 400;
        font-size: 14.4px;
        letter-spacing: 0.0125rem;     
        margin-bottom: 2rem;
        margin-top: auto;

    }   
}

.contact-page .map-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */

    .map-iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;           
    }    
}