.contact-page .enquiry {
    padding: 1.5rem;
}

.contact-page .enquiry-form {
   
    background-color:  map-get($map: $colors, $key: 'light-grey');
    color: #515459;
    padding: 1.5rem;

    label {
        font-weight: 600;
        color: #333645;
        display: block;

        // span {
        //     color: red;
        // }
    }

    input, textarea {
        display: block;
        width: 100%;
        border: 1px solid #ccc;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        border-radius: 2px;
        padding: 0.5rem;   
        font-size: 1rem;    
    }

    input {
        height: 2.75rem;
    }

    textarea {
        height: 6rem;    

        &::placeholder {
            color: #555;
            font-size: 1rem;
        }
    }  

    @include custom-checkbox;



}

.enquiry-form .checkbox-container {
    padding: 0 0.275rem 1rem;

    label span {
        font-weight: 600;
        line-height: 2rem;
        letter-spacing: $std-letter-spacing;
        font-size: 1rem;
    }
}

.enquiry-form .submit-area {
    display: flex;
    flex-direction: column;
    align-items: center;

    .req-fields-text::before {
        content: "* ";
        color: #d24d57;
    }

    .submit-btn {        
        background-color: #333645;
        color: white;
        padding: 1rem 1.5rem;
        border-radius: 0.25rem;
        text-transform: uppercase;
        margin-top: 0.75rem;
    }


}

// .req-fields-text {
   
//     &::before {
//         content: "* ";
//         color: #d24d57;
//     }
// }

// .req-fields-text::before {
//     content: "* ";
//     color: #d24d57;
// }

.required::after {
    content: " *";
    color: #d24d57;
}

