.btn {
    max-width: 8rem;
    max-height: 3.75rem;
    padding: 0.75rem;
    background-color: blue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.25rem;
    
}