$colors: (
    "light-grey"       : #e8e8e8,
    "dark-grey"        : #606060,
 //   "mid-grey"         : #888,  
    "mid-grey"         : #999AA2,
    "dark-bg"          : #323544,
    "bright-green"     : #2ecc71,
    "munsell-green"    : #00b67b,
    "crayola-blue"     : #166af4,
    "green-teal"       : #00b67b,
    "bespoke-software" : #67809f,
    "it-support"       : #4183d7,
    "marketing"        : #2ecc71,
    "telecoms"         : #d64541,
    "web-design"       : #926fb1,
    "cyber-security"   : #f62459,
    "dev-training"     : #ce4125 
);


@each $key, $val in $colors {
   
    .text-#{$key} {
        color: $val;
    };
    .bg-#{$key} {     
        background-color: $val;
    }
}